<template>
  <div>
    <template v-if="!loading">
      <section id="profile-health-facility">
        <div class="container">
          <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
              <li><a @click="navigateToSearchResultHealthFacility">Cari fasilitas kesehatan</a></li>
              <li class="is-active">
                <a aria-current="page">{{ healthFacility.nama }}</a>
              </li>
            </ul>
          </nav>

          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-256x256">
                    <img v-if="healthFacility.foto" :src="healthFacility.foto" :alt="healthFacility.nama" @error="handleImageError" class="image-card">
                    <img v-else :alt="healthFacility.nama" class="image-card" src="../../assets/img/health-facility/health-facility-default.png">
                  </figure>
                </div>
                <div class="media-content">
                  <h3 class="is-size-5 has-text-weight-bold">
                    {{ healthFacility.nama }}
                  </h3>
                  <p>
                    {{ healthFacility.jenis }}
                  </p>
                  <br>
                  <p>
                    Akreditasi : {{ healthFacility.akreditasi }}
                  </p>
                  <p>
                    Kelas : {{ healthFacility.kelas }}
                  </p>
                  <nav class="level">
                    <div class="level-left">
                      <div class="level-item" />
                    </div>
                    <div class="level-right">
                      <div class="level-item">
                        <a @click="makeAppointment" class="button is-warning">Buat Janji</a>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <br>

          <b-tabs v-model="activeTab">
            <b-tab-item label="Ringkasan">
              <div class="content">
                <h6 class="has-text-weight-bold">
                  Deskripsi Fasilitas Kesehatan
                </h6>
                <p v-if="healthFacility.description">
                  {{ healthFacility.description }}
                </p>
                <p v-else>
                  Belum ada data Deskripsi Fasilitas Kesehatan
                </p>
                <h6 class="has-text-weight-bold">
                  Asuransi yang Bekerjasama
                </h6>
                <template v-if="healthFacility.asuransi && healthFacility.asuransi.length">
                  <ul v-for="(asuransi, index) in healthFacility.asuransi" :key="index">
                    <li>{{ asuransi }}</li>
                  </ul>
                </template>
                <template>
                  <p>Belum ada data Asuransi yang Bekerjasama</p>
                </template>

                <!-- Tanya Faizal -->
                <h6 class="has-text-weight-bold">
                  Jam Buka IGD
                </h6>
                <p>Setiap Hari 24 Jam Belum tau</p>
                <h6 class="has-text-weight-bold">
                  Jam Buka Poliklinik
                </h6>
                <span v-if="getCurrentScheduleHealthFacility.jam_buka[0] === '00:00' && getCurrentScheduleHealthFacility.jam_tutup[0] === '00:00'" class="has-text-danger">
                  Tutup hari ini
                </span>
                <span v-else>
                  <span>
                    {{ getCurrentScheduleHealthFacility.hari }}, {{ getCurrentScheduleHealthFacility.jam_buka[0] }} - {{ getCurrentScheduleHealthFacility.jam_tutup[0] }}
                  </span>
                  <span class="has-text-success">
                    Buka hari ini
                  </span>
                </span>
                <br>
                <b-collapse :open="false">
                  <div
                    slot="trigger"
                    slot-scope="props"
                    role="button"
                    style="box-shadow: none"
                  >
                    <p class="has-text-primary">
                      Lihat Jadwal Lainnya
                      <a class="collapse-icon">
                        <b-icon
                          :icon="props.open ? 'menu-down' : 'menu-up'"
                        />
                      </a>
                    </p>
                  </div>
                  <ul>
                    <li v-for="(schedule, index) in formatSchedule" :key="schedule.hari">
                      <div class="schedule-container">
                        <div class="schedule-column">
                          <span>
                            {{ schedule.hari }}
                            <template v-if="index === getCurrentDay">
                              <span class="has-text-primary">
                                &#8226;
                              </span>
                            </template>
                          </span>
                        </div>
                        <div class="schedule-column">
                          <span v-if="schedule.jam_buka[0] === '00:00' && schedule.jam_tutup[0] === '00:00'">
                            Tidak ada jadwal
                          </span>
                          <span v-else>
                            {{ schedule.jam_buka[0] }} - {{ schedule.jam_tutup[0] }}
                          </span>
                          <br>
                        </div>
                      </div>
                    </li>
                  </ul>
                </b-collapse>
                <br>
                <!-- Tanya Faizal -->

                <h6 class="has-text-weight-bold">
                  Alamat
                </h6>
                <p v-if="healthFacility.alamat">
                  {{ healthFacility.alamat }}
                </p>
                <p v-else>
                  Belum ada data Alamat
                </p>
                <template v-if="center && center.length">
                  <client-only>
                    <l-map
                      :zoom="zoom"
                      :center="center"
                      class="peta-tempat"
                    >
                      <l-tile-layer
                        :url="url"
                        :attribution="attribution"
                      />
                      <l-marker :lat-lng="center" />
                    </l-map>
                  </client-only>
                </template>
                <template v-else>
                  <p>Belum ada data koordinat sehingga pete tidak tampil</p>
                </template>
                <br>
                <div class="columns">
                  <div class="column is-half">
                    <h6 class="has-text-weight-bold">
                      Email
                    </h6>
                    <p v-if="healthFacility.email">
                      {{ healthFacility.email }}
                    </p>
                    <p v-else>
                      Belum ada data Email
                    </p>
                  </div>
                  <div class="column is-half">
                    <h6 class="has-text-weight-bold">
                      Website
                    </h6>
                    <template v-if="healthFacility.website">
                      <a :href="healthFacility.website" target="_blank">{{ healthFacility.website }}</a>
                    </template>
                    <template v-else>
                      <p>Belum ada data website</p>
                    </template>
                  </div>
                </div>
                <br>
              </div>
            </b-tab-item>
            <b-tab-item label="Dokter">
              <div class="content">
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <h6 class="has-text-weight-bold">
                        Dokter
                      </h6>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <p>Filter</p>
                    </div>
                    <div class="level-item">
                      <div class="field">
                        <div class="control">
                          <div :class="{ 'is-loading': selectLoading}" class="select">
                            <select v-model="selectedSpecialization" @change="getDoctorInHealthFacility">
                              <option value="Semua Spesialis">
                                Semua Spesialis
                              </option>
                              <option
                                v-for="option in specializationRoot"
                                :key="option._id.$oid"
                                :value="option.nama"
                              >
                                {{ option.nama }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>

                <template v-if="listDoctor.data && listDoctor.data.length">
                  <DoctorAtHealthFacility
                    v-for="doctor in getDoctorScheduleByCode"
                    :key="doctor._id.$oid"
                    :name="doctor.nama"
                    :doctor-id="doctor._id.$oid"
                    :front-degree="doctor.gelar_depan"
                    :back-degree="doctor.gelar_blk"
                    :specialization="doctor.spesialis"
                    :profile-picture="doctor.foto"
                    :schedules="doctor.newJadwal[0].jadwal"
                    @make-call="makeCall"
                  />

                  <b-pagination
                    :total="listDoctor.total"
                    :current.sync="currentPage"
                    :order="order"
                    :size="size"
                    :simple="isSimple"
                    :rounded="isRounded"
                    :per-page="listDoctor.per_page"
                    @change="onPageChange"
                    aria-next-label="Next page"
                    aria-previous-label="Previous page"
                    aria-page-label="Page"
                    aria-current-label="Current page"
                  />
                </template>

                <template v-else>
                  <p class="has-text-centered">
                    Mohon maaf, tidak ditemukan Dokter <span class="has-text-weight-bold">{{ selectedSpecialization }}</span> pada <span class="has-text-weight-bold">{{ healthFacility.nama }}</span> di Website MedUp
                  </p>
                </template>
              </div>
            </b-tab-item>
            <b-tab-item label="Pelayanan">
              <div class="content">
                <h6 class="has-text-weight-bold">
                  Pelayanan Umum
                </h6>
                <template v-if="healthFacility.pelayanan">
                  <ul>
                    <li v-for="pelayananUmum in healthFacility.pelayanan.umum" :key="pelayananUmum.nama">
                      {{ pelayananUmum.nama }}
                    </li>
                  </ul>
                </template>
                <template v-else>
                  <p>
                    Belum ada data Pelayanan Umum
                  </p>
                </template>
                <h6 class="has-text-weight-bold">
                  Pelayanan Unggulan
                </h6>
                <template v-if="healthFacility.pelayanan">
                  <ul>
                    <li v-for="pelayananUnggulan in healthFacility.pelayanan.unggulan" :key="pelayananUnggulan">
                      {{ pelayananUnggulan }}
                    </li>
                  </ul>
                </template>
                <template v-else>
                  <p>
                    Belum ada data Pelayanan Umum
                  </p>
                </template>
              </div>
            </b-tab-item>
            <b-tab-item label="Fasilitas">
              <div class="content">
                <h6 class="has-text-weight-bold">
                  Fasilitas Utama
                </h6>
                <template v-if="healthFacility.fasilitas.utama && healthFacility.fasilitas.utama.length">
                  <ul>
                    <li v-for="fasilitasUtama in healthFacility.fasilitas.utama" :key="fasilitasUtama.nama">
                      {{ fasilitasUtama.nama }}
                    </li>
                  </ul>
                </template>
                <template v-else>
                  <p>
                    Belum ada data Fasilitas Utama
                  </p>
                </template>
                <h6 class="has-text-weight-bold">
                  Fasilitas Penunjang
                </h6>
                <template v-if="healthFacility.fasilitas.penunjang && healthFacility.fasilitas.penunjang.length">
                  <ul>
                    <li v-for="fasilitasPenunjang in healthFacility.fasilitas.penunjang" :key="fasilitasPenunjang">
                      {{ fasilitasPenunjang }}
                    </li>
                  </ul>
                </template>
                <template v-else>
                  <p>
                    Belum ada data Fasilitas Penunjang
                  </p>
                </template>
              </div>
            </b-tab-item>
          </b-tabs>
          <b-modal :active.sync="isModalCallActive" has-modal-card>
            <div class="modal-card">
              <div class="modal-card-body">
                <p class="has-text-weight-bold">
                  Silakan Hubungi Nomor Berikut:
                </p>
                <p>
                  Nomor Umum:
                  <span v-for="(telephone,index) in healthFacility.telp" :key="telephone">
                    <template v-if="index === 0">
                      {{ healthFacility.kode_telp }} - {{ telephone }}
                    </template>
                    <template>
                      , {{ healthFacility.kode_telp }} - {{ telephone }}
                    </template>
                  </span>
                </p>
                <p>
                  Nomor IGD:
                  <span v-for="(igd, index) in healthFacility.telp_igd" :key="igd">
                    <template v-if="index === 0">
                      {{ igd }}
                    </template>
                    <template>
                      , {{ igd }}
                    </template>
                  </span>
                </p>
                <p>
                  Nomor Reservasi:
                  <span v-for="(reservasi, index) in healthFacility.telp_reservasi" :key="reservasi">
                    <template v-if="index === 0">
                      {{ reservasi }}
                    </template>
                    <template>
                      , {{ reservasi }}
                    </template>
                  </span>
                </p>
              </div>
            </div>
          </b-modal>
        </div>
      </section>
    </template>
    <template v-else>
      <b-loading :is-full-page="isFullPage" :active.sync="loading" />

      <p class="has-text-centered">
        Loading...
      </p>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import DoctorAtHealthFacility from '../../components/health-facility/DoctorAtHealthFacility'
import 'leaflet/dist/leaflet.css'

export default {
  name: 'ProfileHealthFacility',
  components: {
    DoctorAtHealthFacility
  },
  data () {
    return {
      healthFacility: {},
      listDoctor: [],
      activeTab: parseInt(this.$route.query.tab) || 0,
      loading: false,
      zoom: 13,
      center: [],
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: [],
      specialization: [],
      selectedSpecialization: 'Semua Spesialis',
      selectLoading: false,
      order: 'is-centered',
      size: 'is-small',
      currentPage: 1,
      isSimple: false,
      isRounded: false,
      isModalCallActive: false,
      isFullPage: true
    }
  },
  computed: {
    specializationRoot () {
      return this.specialization.filter((specializationItem) => {
        return specializationItem.parent === null
      })
    },
    getDoctorScheduleByCode () {
      return this.listDoctor.data.map((doctor) => {
        const newJadwal = doctor.jadwal.filter((schedule) => {
          return schedule.faskes_kode === this.healthFacility.kode_rs
        })

        const { jadwal, ...rest } = doctor

        return {
          ...rest,
          newJadwal
        }
      })
    },
    formatSchedule () {
      if (this.healthFacility.jam.length === 6) {
        const sunday = { hari: 'Minggu', jam_buka: ['00:00'], jam_tutup: ['00:00'] }
        const schedules = Array.prototype.slice.call(this.healthFacility.jam)
        schedules.unshift(sunday)
        return schedules
      } else {
        return this.healthFacility.jam
      }
    },
    getCurrentScheduleHealthFacility () {
      if (this.healthFacility.jam.length === 6) {
        const sunday = { hari: 'Minggu', jam_buka: ['00:00'], jam_tutup: ['00:00'] }
        const schedules = Array.prototype.slice.call(this.healthFacility.jam)
        schedules.unshift(sunday)
        const currentDate = new Date()
        const currentDay = currentDate.getDay()
        const currentSchedule = schedules[currentDay]
        return currentSchedule
      } else {
        const currentDate = new Date()
        const currentDay = currentDate.getDay()
        const currentSchedule = this.healthFacility.jam[currentDay]
        return currentSchedule
      }
    },
    getCurrentDay () {
      const currentDate = new Date()
      return currentDate.getDay()
    }
  },
  async created () {
    await this.fetchProfileHealthFacility()
    await this.getDoctorInHealthFacility()
    await this.fetchSpecialization()
  },
  methods: {
    async fetchProfileHealthFacility () {
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      this.loading = true
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/hospital/faskes_kode/' + this.$route.params.id,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.healthFacility = response.data.data
        this.marker = [response.data.data.coordinates[1], response.data.data.coordinates[0]]
        this.center = [response.data.data.coordinates[1], response.data.data.coordinates[0]]
        this.loading = false
      } catch (error) {
        // eslint-disable-next-line
          console.log(error)
        this.loading = false
      }
    },
    async getDoctorInHealthFacility () {
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      try {
        const response = await axios({
          method: 'POST',
          url: api + '/web/search_doctor?page=' + this.currentPage,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          data: {
            faskes_kode: this.$route.params.id,
            spesialisasi: (this.selectedSpecialization === 'Semua Spesialis') ? '' : this.selectedSpecialization
          }
        })
        this.listDoctor = response.data.data
      } catch (error) {
        // eslint-disable-next-line
          console.log(error)
      }
    },
    async fetchSpecialization () {
      this.selectLoading = true
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/spesialisasi',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.specialization = response.data.data
        this.selectLoading = false
      } catch (error) {
        this.selectLoading = false
        // eslint-disable-next-line
        console.log(error)
      }
    },
    handleImageError () {
      const defaultImage = require('../../assets/img/health-facility/health-facility-default.png')
      this.healthFacility.foto = defaultImage
    },
    handleImageDoctorError () {
      // const defaultImage = require('../../assets/img/doctor/doctor-default.png')
      // this.doctor.foto = defaultImage
    },
    onPageChange (page) {
      this.currentPage = page
      this.getDoctorInHealthFacility()
      // eslint-disable-next-line
      // console.log(current)
    },
    makeCall () {
      this.isModalCallActive = true
    },
    navigateToSearchResultHealthFacility () {
      this.$router.push({ path: '/search-health-facility' })
    },
    makeAppointment () {
      this.activeTab = 1
    }
  },
  head () {
    return {
      title: this.healthFacility.nama + ' - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: `${this.healthFacility.nama}` + ' - ' + `${this.healthFacility.description}` }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

#profile-health-facility {
  padding: 50px 0;
  background-color: #FAFAFA;
  @include mobile {
    padding: 3rem 0rem;
  }
}

/* .map-wrapper {
  height: 10%;
  width: 100px;
  margin: 0;
} */

.image-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 100px;
    height: 100px;
  }
}

select {
  @include mobile {
    width: 100%;
  }
}

.schedule-container {
  display: flex;
  width: 300px;
  margin-bottom: 1em;
  @include mobile {
    width: 100%;
  }
  .schedule-column {
    flex-grow: 1;
    width: 150px;
    @include mobile {
      width: 50%;
    }
  }
}

.collapse-icon {
  top: 4px;
  position: relative;
}

.peta-tempat {
    height: 300px;
    width: 400px;
  @include mobile {
    width: 100%;
    height: 150px;
  }
}

</style>
