<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-centered is-multiline">
            <div class="column is-12">
              <h1 class="title has-text-centered">
                Mencari Fasilitas Kesehatan Terbaik di MedUp!
              </h1>
            </div>
            <div class="column is-8">
              <form @submit.prevent="searchHealthFacility">
                <div class="field is-horizontal">
                  <div class="field-body">
                    <b-field class="is-narrow">
                      <b-autocomplete
                        ref="autocomplete"
                        v-model="locationCity"
                        :data="locationData"
                        :open-on-focus="true"
                        :loading="isFetchingLocation"
                        @typing="getAsyncDataLocation"
                        @select="option => selectedLocation = option"
                        placeholder="Masukkan Lokasi"
                        field="nama"
                        icon="map-marker"
                        size="is-medium"
                      >
                        <template slot-scope="props">
                          <div class="media">
                            <span>
                              {{ props.option.nama }}
                            </span>
                          </div>
                        </template>
                      </b-autocomplete>
                    </b-field>
                    <!-- <div class="field">
                      <div class="control">
                        <input v-model="healthFacilityName" class="input is-medium" type="text" placeholder="Cari Fasilitas Kesehatan">
                      </div>
                    </div> -->
                    <b-field>
                      <b-autocomplete
                        ref="autocomplete"
                        v-model="healthFacilityName"
                        :data="healthFacilitySuggestionData"
                        :open-on-focus="false"
                        :loading="loadHealthFacilitySuggestion"
                        @typing="getSuggestionHealthFacility"
                        @select="option => selectedHealthFacility = option"
                        placeholder="Cari nama fasilitas kesehatan"
                        field="doctorName"
                        size="is-medium"
                      >
                        <template slot="header">
                          <h1
                            v-show="healthFacilitySuggestionData && healthFacilitySuggestionData.length"
                            class="specialization-title is-size-5 has-text-weight-bold"
                          >
                            Fasilitas Kesehatan
                          </h1>
                        </template>
                        <template slot-scope="props">
                          <div class="media">
                            <nuxt-link :to="'/search-health-facility/' + props.option.kode_rs" class="has-text-dark">
                              {{ props.option.nama }}
                            </nuxt-link>
                          </div>
                        </template>
                        <template slot="empty">
                          <p>
                            No results for {{ healthFacilityName }}
                          </p>
                        </template>
                      </b-autocomplete>
                    </b-field>
                    <div class="field is-narrow">
                      <div class="control">
                        <button type="submit" class="button is-warning is-medium is-fullwidth-mobile">
                          Cari
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <form @submit.prevent="filterHealthFacility">
                    <h1 class="subtitle">
                      Filter Pencarian
                    </h1>
                    <!-- Day -->
                    <b-field label="Jadwal Operasional">
                      <b-select v-model="selectedDay" placeholder="Pilih Jadwal Operasional" expanded>
                        <option
                          v-for="option in days"
                          :key="option.id"
                          :value="option.value"
                        >
                          {{ option.day }}
                        </option>
                      </b-select>
                    </b-field>
                    <!-- Insurance -->
                    <b-field label="Asuransi">
                      <b-select v-model="selectedInsurance" placeholder="Pilih Asuransi" expanded>
                        <option
                          v-for="option in insurance"
                          :key="option._id.$oid"
                          :value="option.nama"
                        >
                          {{ option.nama }}
                        </option>
                      </b-select>
                    </b-field>
                    <!-- Jenis -->
                    <b-field label="Jenis Fasilitas Keshatan">
                      <b-select v-model="selectedFacilityType" placeholder="Pilih Jenis Fasilitas Kesehatan" expanded>
                        <option
                          v-for="option in healthFacilityType"
                          :key="option.id"
                          :value="option.value"
                        >
                          {{ option.type }}
                        </option>
                      </b-select>
                    </b-field>
                    <br>
                    <!-- Action Filter -->
                    <div class="buttons">
                      <button @click="resetFilterHealthFacility" type="button" class="button is-light is-fullwidth">
                        Reset Filter
                      </button>
                      <button type="submit" class="button is-primary is-fullwidth">
                        Terapkan Filter
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <template v-if="loading">
              <div class="column is-9">
                <p class="has-text-centered">
                  Loading...
                </p>
              </div>
            </template>
            <template v-else>
              <template v-if="healthFacilities.data.length != 0">
                <div class="column is-9">
                  <CardHealthFacility
                    v-for="healthFacility in healthFacilities.data"
                    :key="healthFacility._id.$oid"
                    :name="healthFacility.nama"
                    :health-facility-id="healthFacility._id.$oid"
                    :health-facility-kode="healthFacility.kode_rs"
                    :address="healthFacility.alamat"
                    :facility-picture="healthFacility.foto"
                    :type="healthFacility.jenis"
                  />
                  <hr>
                  <b-pagination
                    :total="healthFacilities.total"
                    :current.sync="currentPage"
                    :order="order"
                    :size="size"
                    :simple="isSimple"
                    :rounded="isRounded"
                    :per-page="healthFacilities.per_page"
                    @change="onPageChange"
                    aria-next-label="Next page"
                    aria-previous-label="Previous page"
                    aria-page-label="Page"
                    aria-current-label="Current page"
                  />
                </div>
              </template>
              <template v-else>
                <div class="column is-9">
                  <p class="has-text-centered">
                    Mohon maaf, pencarian tidak ditemukan
                  </p>
                </div>
              </template>
            </template>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapMutations } from 'vuex'
import CardHealthFacility from '../../components/health-facility/CardHealthFacility'

export default {
  name: 'SearchHealthFacility',
  components: {
    CardHealthFacility
  },
  data () {
    return {
      locationData: [],
      isFetchingLocation: false,
      healthFacilities: [],
      healthFacilityName: null || this.$route.query.nama,
      order: 'is-centered',
      size: 'is-small',
      currentPage: null || this.$route.query.page,
      isSimple: false,
      isRounded: false,
      insurance: [],
      days: [
        { day: 'Senin', value: 'Senin', id: '0' },
        { day: 'Selasa', value: 'Selasa', id: '1' },
        { day: 'Rabu', value: 'Rabu', id: '2' },
        { day: 'Kamis', value: 'Kamis', id: '3' },
        { day: 'Jumat', value: 'Jumat', id: '4' },
        { day: 'Sabtu', value: 'Sabtu', id: '5' },
        { day: 'Minggu', value: 'Minggu', id: '6' }
      ],
      healthFacilityType: [
        { type: 'Klinik Umum', value: 'Klinik Umum', id: '0' },
        { type: 'Klinik Perseorangan', value: 'Klinik Perseorangan', id: '1' },
        { type: 'Klinik Gigi', value: 'Klinik Gigi', id: '2' },
        { type: 'Praktik Perseorangan', value: 'Praktik Perseorangan', id: '3' }
      ],
      selectedDay: null || this.$route.query.day,
      selectedFacilityType: null || this.$route.query.facility_type,
      selectedInsurance: null || this.$route.query.insurance,
      // selectedLocation: null,
      loading: false,
      healthFacilitySuggestionData: [],
      loadHealthFacilitySuggestion: false,
      locationCity: null || this.$store.getters.location.nama
    }
  },
  computed: {
    ...mapGetters([
      'location',
      'healthFacility'
    ]),
    selectedLocation: {
      get () {
        return this.location
      },
      set (value) {
        this.SET_LOCATION(value)
      }
    },
    selectedHealthFacility: {
      get () {
        return this.healthFacility
      },
      set (value) {
        this.SET_HEALTH_FACILITY(value)
      }
    }
    // ,
    // locationCity () {
    //   if (this.location) {
    //     return this.location.nama
    //   } else {
    //     return ''
    //   }
    // }
    // location: function () {
    //   if (this.selectedLocation != null && this.$route.query.location != null) {
    //     return this.selectedLocation.nama
    //   } else if (this.$route.query.location != null) {
    //     return this.$route.query.location
    //   } else if (this.selectedLocation != null && this.$route.query.location == null) {
    //     return this.selectedLocation.nama
    //   } else {
    //     return null
    //   }
    // }
  },
  async created () {
    await this.fetchHealthFacility()
    await this.fetchInsurance()
  },
  async mounted () {
    // await this.$refs.autocomplete.setSelected(this.$store.getters.location.nama || null)
  },
  methods: {
    ...mapMutations([
      'SET_LOCATION',
      'SET_HEALTH_FACILITY'
    ]),
    onPageChange (page) {
      this.currentPage = page
      this.fetchHealthFacility()
    },
    async fetchHealthFacility () {
      this.loading = true
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      const routerQuery = { nama: this.healthFacilityName, day: this.selectedDay, insurance: this.selectedInsurance, facility_type: this.selectedFacilityType, page: this.currentPage }
      this.$router.push({ path: this.$route.path, query: routerQuery })
      try {
        const response = await axios({
          method: 'POST',
          url: api + '/web/search_faskes?page=' + this.currentPage,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          data: {
            jenis_faskes: '',
            nama: this.healthFacilityName,
            asuransi: this.selectedInsurance,
            jadwal_hari: this.selectedDay,
            lokasi: this.selectedLocation.nama,
            buka: '',
            jenis: this.selectedFacilityType,
            spesialisasi: ''
          }
        })
        this.healthFacilities = response.data.data
        this.loading = false
      } catch (error) {
        // eslint-disable-next-line
        console.log(error)
        this.loading = false
      }
    },
    async fetchInsurance () {
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/asuransi',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.insurance = response.data.data
      } catch (error) {
        // eslint-disable-next-line
            console.log(error)
      }
    },
    async getAsyncDataLocation (name) {
      if (!name.length) {
        this.data = []
        return
      }
      this.isFetchingLocation = true
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      try {
        const response = await axios({
          method: 'POST',
          url: api + '/suggestion/wilayah',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          data: {
            nama: name,
            limit: '10'
          }
        })
        this.locationData = response.data.data
        this.isFetchingLocation = false
      } catch (error) {
        this.isFetchingLocation = false
        this.locationData = []
        // eslint-disable-next-line
        console.log(error)
      }
    },
    async getSuggestionHealthFacility (name) {
      if (!name.length) {
        this.healthFacilitySuggestionData = []
      } else {
        try {
          this.loadHealthFacilitySuggestion = true
          const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
          const response = await axios({
            method: 'POST',
            url: api + '/web/search_faskes',
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*'
            },
            data: {
              nama: name
            }
          })
          this.healthFacilitySuggestionData = response.data.data.data
          this.loadHealthFacilitySuggestion = false
        } catch (error) {
          // eslint-disable-next-line
          console.log(error)
        }
      }
    },
    searchHealthFacility () {
      this.currentPage = 1
      this.fetchHealthFacility()
    },
    filterHealthFacility () {
      this.currentPage = 1
      this.fetchHealthFacility()
    },
    resetFilterHealthFacility () {
      this.selectedDay = null
      this.selectedFacilityType = null
      this.selectedInsurance = null
      this.fetchHealthFacility()
    }
  },
  head () {
    return {
      title: 'Pencarian Fasilitas Kesehatan - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: 'Temukan rumah sakit, klinik, dan fasilitas kesehatan lainnya di MedUp' }
      ]
    }
  }
}
</script>
