// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #2691d4;
$primary-invert: findColorInvert($primary);
$success: #00C48D;
$success-invert:findColorInvert($success);
$warning: #FFA500;
$warning-invert: findColorInvert($warning);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Add a serif family
$family-serif: 'Lato', sans-serif;

// Use the new serif family
$family-primary: $family-serif;


@mixin button-small {
  border-radius: $radius-small;
  font-size: $size-small;
}
@mixin button-normal {
  font-size: $size-normal;
}

// custom buefy

.b-tabs {
  .tabs {
    background-color:white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color:#4a4a4a;
    max-width: 100%;
    position: relative;
    margin-bottom: 24px !important;
    @include mobile {
      padding-left: 1em;
      padding-right: 1em;
    }
    a {
      padding: 0.5em 0em;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      @include mobile {
        margin-right: 1rem;
        margin-left: 0;
      }
    }
  }
  .tab-content {
    background-color:white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color:#4a4a4a;
    max-width: 100%;
    position: relative;
    padding: 1.5rem !important;
    @include mobile {
      padding: 1rem !important;
    }
  }
}

.card {
  .card-content {
    @include mobile {
      padding: 1rem;
    }
  }
}

.breadcrumb {
  @include mobile {
    padding: 1rem;
  }
}

.button {
  &.is-fullwidth-mobile {
    @include mobile {
      display: flex;
      width: 100%;
    }
  }
}

nav {
  &.pagination {
    ul {
      &.pagination-list {
        list-style: none;
      }
    }
  }
}

.button {
  @include mobile {
    &.is-button-small-mobile {
      @include button-small;
    }
  }
  @include desktop {
    &.is-button-small-mobile {
      @include button-normal;
    }
  }
}

.markdown {
  h1 {
    font-size: 1.5rem !important;
    margin-top: 30px;
    font-weight: 600;
  }
  h2 {
    font-size: 1.25rem !important;
    margin-top: 25px;
    font-weight: 600;
  }
  h3 {
    font-size: 1rem !important;
    margin-top: 20px;
    font-weight: 600;
  }
  p {
    margin-bottom: 14px;
  }
  img {
    width: 100%;
  }
  ul {
    list-style: disc;
    padding-left: 15px;
  }
  ol {
    padding-left: 15px;
  }
  a {
    color: $primary;
  }

}

.specialization-autocomplate {
  margin-right: -16px;
  margin-left: -16px;
  .specialization-title {
    margin-left: 16px;
    padding-bottom: 6px
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
