<template>
  <section id="profile-doctor">
    <div class="container">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a @click="navigateToSearchResultDoctor">Cari dokter</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">
              <span v-if="doctor.gelar_depan">{{ doctor.gelar_depan }}&nbsp;</span> <span v-if="doctor.nama">{{ doctor.nama }}&nbsp;</span> <span v-if="doctor.gelar_blk">{{ doctor.gelar_blk }}</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-256x256">
                <img v-if="doctor.foto" :src="doctor.foto" @error="handleImageError" class="image-card">
                <img v-else class="image-card" src="../../assets/img/doctor/doctor-default.png">
              </figure>
            </div>
            <div class="media-content">
              <template v-if="doctor.nama">
                <h4 class="is-size-5 is-size-6-mobile">
                  <strong v-if="doctor.gelar_depan">{{ doctor.gelar_depan }}</strong> <strong v-if="doctor.nama">{{ doctor.nama }}</strong> <strong v-if="doctor.gelar_blk">{{ doctor.gelar_blk }}</strong>
                </h4>
              </template>
              <template v-else>
                <h4>
                  Belum ada nama
                </h4>
              </template>
              <ul>
                <li v-if="doctor.spesialis">
                  {{ doctor.spesialis }}
                </li>
                <li v-else>
                  belum ada spesialis
                </li>
              </ul>
              <nav class="level">
                <div class="level-left">
                  <div class="level-item" />
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a @click="makeAppointment" class="button is-warning">Buat Janji</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <br>

      <b-tabs v-model="activeTab">
        <b-tab-item label="Info Dokter">
          <div class="content">
            <h6 class="has-text-weight-bold">
              Deskripsi
            </h6>
            <p v-if="doctor.deskripsi">
              {{ doctor.deskripsi }}
            </p>
            <p v-else>
              Belum ada data Deskripsi
            </p>
            <h6 class="has-text-weight-bold">
              Nomor Registrasi (STR/SIP)
            </h6>
            <template v-if="doctor.verifikasi && doctor.verifikasi.length">
              <ul v-for="verifikasi in doctor.verifikasi" :key="verifikasi.nomor">
                <li>{{ verifikasi.nama }} - {{ verifikasi.nomor }} - {{ verifikasi.issuer }}</li>
              </ul>
            </template>
            <template v-else>
              <p>Belum ada data Nomor Registrasi (STR/SIP)</p>
            </template>
            <h6 class="has-text-weight-bold">
              Riwayat Pendidikan
            </h6>
            <template v-if="doctor.pendidikan && doctor.pendidikan.length">
              <ul v-for="pendidikan in doctor.pendidikan" :key="pendidikan.jenjang+pendidikan.institusi+pendidikan.tahun">
                <li>{{ pendidikan.jenjang }} - {{ pendidikan.institusi }} - {{ pendidikan.tahun }}</li>
              </ul>
            </template>
            <template v-else>
              <p>Belum ada data Riwayat Pendidikan</p>
            </template>
            <h6 class="has-text-weight-bold">
              Organisasi
            </h6>
            <template v-if="doctor.organisasi && doctor.organisasi.length">
              <ul v-for="organisasi in doctor.organisasi" :key="organisasi.jabatan+organisasi.nama">
                <li>{{ organisasi.jabatan }} {{ organisasi.nama }} {{ organisasi.tahun }}</li>
              </ul>
            </template>
            <template v-else>
              <p>Belum ada data Organisasi</p>
            </template>
            <h6 class="has-text-weight-bold">
              Pelatihan
            </h6>
            <template v-if="doctor.pelatihan && doctor.pelatihan.length">
              <ul v-for="pelatihan in doctor.pelatihan" :key="pelatihan.nama">
                <li>{{ pelatihan.nama }} - {{ pelatihan.institusi }} - {{ pelatihan.tahun }}</li>
              </ul>
            </template>
            <template v-else>
              <p>Belum ada data Pelatihan</p>
            </template>

            <h6 class="has-text-weight-bold">
              Layanan
            </h6>
            <template v-if="doctor.layanan && doctor.layanan.length">
              <ul v-for="layanan in doctor.layanan" :key="layanan">
                <li>{{ layanan }}</li>
              </ul>
            </template>
            <template v-else>
              <p>Belum ada data Layanan</p>
            </template>
            <br>
          </div>
        </b-tab-item>
        <b-tab-item label="Jadwal Praktik">
          <div class="content">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <h6 class="has-text-weight-bold">
                    Jadwal Praktik
                  </h6>
                </div>
              </div>
            </nav>
            <template v-if="doctor.jadwal && doctor.jadwal.length">
              <PracticeScheduleCard
                v-for="schedule in doctor.jadwal"
                :key="schedule.faskes_kode"
                :health-facility-code="schedule.faskes_kode"
                :schedules="schedule.jadwal"
              />
            </template>
            <template v-else>
              <p>Belum ada data Jadwal Praktik</p>
            </template>
          </div>
        </b-tab-item>
      </b-tabs>
    </div>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" />
  </section>
</template>

<script>
import axios from 'axios'
import PracticeScheduleCard from '../../components/doctor/PracticeScheduleCard'

export default {
  name: 'ProfileDoctor',
  components: {
    PracticeScheduleCard
  },
  data () {
    return {
      doctor: {},
      activeTab: parseInt(this.$route.query.tab) || 0,
      isFullPage: true,
      isLoading: false
    }
  },
  async created () {
    await this.fetchProfileDoctor()
  },
  methods: {
    async fetchProfileDoctor () {
      try {
        this.isLoading = true
        const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
        const response = await axios({
          method: 'GET',
          url: api + '/doctor/' + this.$route.params.id,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.doctor = response.data.data
        this.isLoading = false
      } catch (error) {
        this.isLoading = false
        // eslint-disable-next-line
        console.log(error)
      }
    },
    handleImageError () {
      const defaultImage = require('../../assets/img/doctor/doctor-default.png')
      this.doctor.foto = defaultImage
    },
    makeAppointment () {
      this.activeTab = 1
    },
    navigateToSearchResultDoctor () {
      this.$router.push({ path: '/search-doctor' })
    }
  },
  head () {
    return {
      title: this.doctor.gelar_depan + ' ' + this.doctor.nama + ' ' + this.doctor.gelar_blk + ' - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: `${this.doctor.gelar_depan} + ' ' + ${this.doctor.nama} + ' ' + ${this.doctor.gelar_blk}` }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

#profile-doctor {
  padding: 50px 0;
  background-color: #FAFAFA;
  @include mobile {
    padding: 3rem 0;
  }
}

.image-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 100px;
    height: 100px;
  }
}
</style>
