<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered is-vcentered is-multiline">
            <div class="column is-12">
              <h1 class="title has-text-centered">
                Mencari Dokter Terbaik di MedUp!
              </h1>
            </div>
            <div class="column is-8">
              <form @submit.prevent="searchDoctor">
                <div class="field-horizontal">
                  <div class="field-body">
                    <!-- <div class="field">
                      <div class="control">
                        <input v-model="doctorName" class="input is-medium" type="text" placeholder="Cari nama dokter">
                      </div>
                    </div> -->
                    <b-field>
                      <b-autocomplete
                        ref="autocomplete"
                        v-model="doctorName"
                        :data="doctorDataTransform[0]"
                        :open-on-focus="false"
                        :loading="isLoadingDoctorData"
                        @typing="getAsyncDoctorData"
                        @select="option => selectedDoctor = option"
                        placeholder="Cari nama dokter dan spesialisasi"
                        field="doctorName"
                        size="is-medium"
                      >
                        <template slot="header">
                          <h1
                            v-show="doctorDataTransform[0] && doctorDataTransform[0].length"
                            class="specialization-title is-size-5 has-text-weight-bold"
                          >
                            Dokter
                          </h1>
                        </template>
                        <template slot-scope="props">
                          <div class="media">
                            <nuxt-link :to="'/search-doctor/' + props.option._id" class="has-text-dark">
                              {{ props.option.doctorName }}
                            </nuxt-link>
                          </div>
                        </template>
                        <template slot="footer">
                          <div class="specialization-autocomplate">
                            <h1
                              v-if="doctorDataTransform[1] && doctorDataTransform[1].length"
                              class="specialization-title is-size-5 has-text-weight-bold"
                            >
                              Spesialis
                            </h1>
                            <a
                              v-for="specializationSuggestion in doctorDataTransform[1]"
                              :key="specializationSuggestion._id.$oid"
                              @click="goToSpecialization(specializationSuggestion.nama)"
                              class="dropdown-item"
                            >
                              {{ specializationSuggestion.nama }}
                            </a>
                          </div>
                        </template>
                        <template slot="empty">
                          <p>
                            No results for {{ doctorName }}
                          </p>
                        </template>
                      </b-autocomplete>
                    </b-field>
                    <div class="field is-narrow">
                      <div class="control">
                        <button type="submit" class="button is-warning is-fullwidth-mobile is-medium">
                          Cari
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns  is-multiline">
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <form @submit.prevent="filterDoctor">
                    <h1 class="subtitle">
                      Filter Pencarian
                    </h1>
                    <!-- Day -->
                    <b-field label="Hari Praktik">
                      <b-select v-model="selectedDay" placeholder="Pilih Hari Praktik" expanded>
                        <option
                          v-for="option in days"
                          :key="option.id"
                          :value="option.value"
                        >
                          {{ option.day }}
                        </option>
                      </b-select>
                    </b-field>
                    <!-- Specialization -->
                    <b-field label="Spesialisasi">
                      <b-select v-model="selectedSpecialization" :loading="selectLoading" placeholder="Pilih Spesialisasi" expanded>
                        <option
                          v-for="option in specializationRoot"
                          :key="option._id.$oid"
                          :value="option.nama"
                        >
                          {{ option.nama }}
                        </option>
                      </b-select>
                    </b-field>
                    <!-- Gender -->
                    <div class="field">
                      <label class="label">Jenis Kelamin</label>
                      <div class="control">
                        <label v-for="gender in genders" :key="gender.id" :for="gender.value" class="radio">
                          <input :id="gender.id" v-model="selectedGender" :value="gender.value" type="radio" name="gender">
                          {{ gender.gender }}
                        </label>
                      </div>
                    </div>
                    <!-- <b-field label="Jenis Kelamin">
                      <b-select v-model="selectedGender" placeholder="Pilih Jenis Kelamin" expanded>
                        <option
                          v-for="option in genders"
                          :key="option.id"
                          :value="option.value"
                        >
                          {{ option.gender }}
                        </option>
                      </b-select>
                    </b-field> -->
                    <br>
                    <!-- Action Filter -->
                    <div class="buttons">
                      <button @click="resetFilterDoctor" type="button" class="button is-light is-fullwidth">
                        Reset Filter
                      </button>
                      <button type="submit" class="button is-primary is-fullwidth">
                        Terapkan Filter
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div v-if="!loading" class="column is-9">
              <template v-if="doctors.data.length != 0">
                <CardDoctor
                  v-for="doctor in doctors.data"
                  :key="doctor._id.$oid"
                  :name="doctor.nama"
                  :doctor-id="doctor._id.$oid"
                  :front-degree="doctor.gelar_depan"
                  :back-degree="doctor.gelar_blk"
                  :specialization="doctor.spesialis"
                  :profile-picture="doctor.foto"
                />
                <hr>
                <b-pagination
                  :total="doctors.total"
                  :current.sync="currentPage"
                  :order="order"
                  :size="size"
                  :simple="isSimple"
                  :rounded="isRounded"
                  :per-page="doctors.per_page"
                  @change="onPageChange"
                  aria-next-label="Next page"
                  aria-previous-label="Previous page"
                  aria-page-label="Page"
                  aria-current-label="Current page"
                />
              </template>
              <template v-else>
                <p class="has-text-centered">
                  Mohon maaf, pencarian tidak ditemukan
                </p>
              </template>
            </div>
            <div v-else class="column is-9">
              <p class="has-text-centered">
                Loading...
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import axios from 'axios'
import CardDoctor from '../../components/doctor/CardDoctor'

export default {
  name: 'SearhDoctor',
  components: {
    CardDoctor
  },
  data () {
    return {
      doctors: [],
      doctorName: null || this.$store.getters.doctor.doctorName || this.$route.query.name,
      order: 'is-centered',
      size: 'is-small',
      currentPage: null || this.$route.query.page,
      isSimple: false,
      isRounded: false,
      specialization: [],
      days: [
        { day: 'Senin', value: 'Senin', id: '0' },
        { day: 'Selasa', value: 'Selasa', id: '1' },
        { day: 'Rabu', value: 'Rabu', id: '2' },
        { day: 'Kamis', value: 'Kamis', id: '3' },
        { day: 'Jumat', value: 'Jumat', id: '4' },
        { day: 'Sabtu', value: 'Sabtu', id: '5' },
        { day: 'Minggu', value: 'Minggu', id: '6' }
      ],
      genders: [
        { gender: 'Perempuan', value: 'P', id: '0' },
        { gender: 'Laki-Laki', value: 'L', id: '1' }
      ],
      selectedDay: null || this.$route.query.day,
      selectedGender: null || this.$route.query.gender,
      selectedSpecialization: null || this.$route.query.specialization,
      selectLoading: false,
      loading: false,
      doctorData: [],
      isLoadingDoctorData: false,
      specializationData: []
    }
  },
  computed: {
    ...mapGetters([
      'doctor'
    ]),
    selectedDoctor: {
      get () {
        return this.doctor
      },
      set (value) {
        this.SET_DOCTOR(value)
      }
    },
    specializationRoot () {
      return this.specialization.filter((root) => {
        return root.parent === null
      })
    },
    // not suggestion
    transformDoctorData () {
      return this.doctors.data.map((doctor) => {
        const doctorNameWithDegree = doctor.gelar_depan + ' ' + doctor.nama + ' ' + doctor.gelar_blk

        const { ...rest } = doctor

        return {
          doctorNameWithDegree,
          ...rest
        }
      })
    },
    // suggestion
    doctorDataTransform () {
      const listDoctor = this.doctorData.map((doctor) => {
        const doctorName = doctor.gelar_depan + ' ' + doctor.nama + ' ' + doctor.gelar_blk

        /* eslint-disable-next-line */
        const { ...rest } = doctor

        return {
          ...rest,
          doctorName
        }
      })

      const listSpecialization = this.specializationData

      return [
        listDoctor,
        listSpecialization
      ]
    }
  },
  async created () {
    await this.fetchDoctor()
    await this.fetchSpecialization()
  },
  methods: {
    ...mapMutations([
      'SET_DOCTOR'
    ]),
    onPageChange (page) {
      this.currentPage = page
      this.fetchDoctor()
      // eslint-disable-next-line
      // console.log(current)
    },
    async fetchDoctor () {
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      const routerQuery = { name: this.doctorName, day: this.selectedDay, gender: this.selectedGender, specialization: this.selectedSpecialization, page: this.currentPage }
      this.$router.push({ path: this.$route.path, query: routerQuery })
      this.loading = true
      try {
        const response = await axios({
          method: 'POST',
          url: api + '/web/search_doctor?page=' + this.currentPage,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          data: {
            nama: this.doctorName,
            jadwal_hari: this.selectedDay,
            jenis_kelamin: this.selectedGender,
            gelar_depan: '',
            spesialisasi: this.selectedSpecialization
          }
        })
        this.doctors = response.data.data
        this.loading = false
        // eslint-disable-next-line
        console.log(this.$route.query.gender)
        // eslint-disable-next-line
        console.log(this.$route.query.day)
        // eslint-disable-next-line
        console.log(this.$route.query.specialization)
        // eslint-disable-next-line
        console.log(unescape(this.$route.query.specialization))
      } catch (error) {
        // eslint-disable-next-line
        console.log(error)
        this.loading = false
      }
    },
    async fetchSpecialization () {
      this.selectLoading = true
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/spesialisasi',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.specialization = response.data.data
        this.selectLoading = false
      } catch (error) {
        this.selectLoading = false
        // eslint-disable-next-line
        console.log(error)
      }
    },
    async getAsyncDoctorData (name) {
      if (!name.length) {
        this.doctorData = []
        this.specializationData = []
      } else {
        try {
          this.isLoadingDoctorData = true
          const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
          const response = await axios({
            method: 'GET',
            url: api + '/suggestion/doctor',
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*'
            },
            params: {
              name,
              limit: 5
            }
          })
          this.doctorData = response.data.ListDoctor
          this.specializationData = response.data.ListSpesialis
          this.isLoadingDoctorData = false
          // eslint-disable-next-line
          console.log(response)
        } catch (error) {
          this.isLoadingDoctorData = false
          this.doctorData = []
          this.specializationData = []
          // eslint-disable-next-line
          console.log(error)
        }
      }
    },
    searchDoctor () {
      this.currentPage = 1
      this.fetchDoctor()
    },
    filterDoctor () {
      this.currentPage = 1
      this.fetchDoctor()
    },
    resetFilterDoctor () {
      this.selectedDay = null
      this.selectedGender = null
      this.selectedSpecialization = null
      this.currentPage = 1
      this.fetchDoctor()
    },
    goToSpecialization (name) {
      this.selectedSpecialization = name
      this.fetchDoctor()
      this.doctorName = null
    }
  },
  head () {
    return {
      title: 'Pencarian Dokter - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: 'Temukan Dokter Umum, Dokter Gigi, Dokter Spesialisas di MedUp' }
      ]
    }
  }
}
</script>
