<template>
  <footer id="contact-us" class="footer">
    <div class="content">
      <div class="container">
        <div class="columns">
          <div class="column is-4 has-text-left">
            <img src="../../assets/img/logo-putih.png" alt="" style="height: 36px; margin-bottom: 1.5rem;">
            <div class="office-address">
              <!-- <div class="icon">
                <img src="../../assets/img/icon/place.svg" alt="address" width="15px" height="auto">
              </div> -->
              <b-icon
                :type="'is-white'"
                icon="map-marker"
              />
              <div class="content">
                <p class="has-text-white">
                  MedUp Office
                  <br>
                  Jl. Griya Petinggen No. 1227, Karangwaru, Tegalrejo, Yogyakarta City, Special Region of Yogyakarta 55241 <br>
                </p>
              </div>
            </div>
            <div class="email-address">
              <!-- <div class="icon">
                <img src="../../assets/img/icon/mail_outline.svg" alt="email" width="15px" height="auto">
              </div> -->
              <b-icon
                :type="'is-white'"
                icon="email-outline"
              />
              <div class="content">
                <p class="has-text-white">
                  contact@medup.id
                </p>
              </div>
            </div>
          </div>
          <div class="column is-4 is-offset-1 has-text-left">
            <h1 class="subtitle has-text-white">
              Tentang Kami
            </h1>
            <ul>
              <!-- <li><a href="#contac-us" class="has-text-white">Kontak Kami</a></li> -->
              <li>
                <nuxt-link to="/about" class="has-text-white">
                  Tentang Kami
                </nuxt-link>
              </li>
              <li>
                <nuxt-link to="/term-of-service#syarat-dan-ketentuan" class="has-text-white">
                  Syarat dan Ketentuan
                </nuxt-link>
              </li>
              <li>
                <nuxt-link to="/privacy-policy#kebijakan-privasi" class="has-text-white">
                  Kebijakan dan Privasi
                </nuxt-link>
              </li>
              <li>
                <a href="https://www.jobstreet.co.id/en/companies/1284828-pt-loka-kreasi-teknologi-medup/jobs" target="_blank" class="has-text-white">
                  Karir
                </a>
              </li>
              <!-- medup messenger -->
            </ul>
          </div>
          <div class="column is-3 has-text-centered has-text-left-mobile">
            <h1 class="subtitle has-text-white">
              Sosial Media Kami
            </h1>
            <ul class="social-media">
              <li>
                <a href="https://www.instagram.com/medup.id" class="has-text-white" target="_blank">
                  <img src="../../assets/img/icon/instagram.svg" alt="instagram">
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/medup.id" class="has-text-white" target="_blank">
                  <img src="../../assets/img/icon/facebook.svg" alt="facebook">
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/medupindonesia" class="has-text-white" target="_blank">
                  <img src="../../assets/img/icon/twitter.svg" alt="twitter">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns">
          <div class="column has-text-centered">
            <br>
            <p class="has-text-white">
              MedUp Indonesia &copy; {{ year }} ALL RIGHTS RESERVED
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data () {
    return {
      year: ''
    }
  },
  created () {
    this.getFooterYear()
  },
  methods: {
    getFooterYear () {
      const date = new Date()
      this.year = date.getFullYear()
    }
  }
}
</script>

<style lang="scss" scoped>
  $primary: #2691d4;

  .footer {
      background-color: $primary;
  }

  .content {
      ul {
          list-style: none;
          margin-left: 0;
          &.social-media {
              li {
                  display: inline-block;
                  &+li {
                      margin-left: 2em;
                  }
              }
          }
      }
  }

  .office-address {
    display: flex;
    align-items: flex-start;
    .icon {
      margin-right: 1rem;
    }
  }

  .email-address {
    display: flex;
    align-items: flex-start;
    .icon {
      margin-right: 1rem;
    }
  }
</style>
