<template>
  <nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link id="mulai" class="navbar-item" to="/">
        <img src="../../assets/img/logo-min.png">
      </nuxt-link>

      <a
        :class="{ 'is-active': showNavbar }"
        @click="showNavbar = !showNavbar"
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>
    </div>

    <div id="navbarBasicExample" :class="{ 'is-active': showNavbar }" class="navbar-menu">
      <!-- <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <nuxt-link class="navbar-item" to="about">
              About
            </nuxt-link>
            <nuxt-link class="navbar-item" to="about">
              Jobs
            </nuxt-link>
            <nuxt-link class="navbar-item" to="about">
              Contact
            </nuxt-link>
            <hr class="navbar-divider">
            <nuxt-link class="navbar-item" to="about">
              Report an issue
            </nuxt-link>
          </div>
        </div>
      </div> -->

      <div class="navbar-end">
        <!-- <nuxt-link @click.native="showNavbar = !showNavbar" class="navbar-item" to="/blog">
          Blog
        </nuxt-link> -->
        <nuxt-link @click.native="showNavbar = !showNavbar" class="navbar-item" to="/about">
          Tentang
        </nuxt-link>
        <!-- <nuxt-link class="navbar-item" to="faskes">
          Fasilitas Kesehatan
        </nuxt-link> -->
        <nuxt-link @click.native="showNavbar = !showNavbar" class="navbar-item" to="/faq">
          FAQ
        </nuxt-link>
        <nuxt-link @click.native="showNavbar = !showNavbar" class="navbar-item" to="/messenger">
          MedUp Messenger
        </nuxt-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'AppNavbar',
  data () {
    return {
      showNavbar: false
    }
  }
}
</script>

<style>

</style>
