<template>
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-5by3">
          <img v-if="imageBlog" :src="imageBlog">
        </figure>
      </div>
      <div class="card-content">
        <div v-if="tagBlog">
          <nuxt-link v-for="tag in tagBlog" :key="tag" :to="`/blog/category/${tag}`" class="tag is-warning is-medium is-small">
            {{ tag }}
          </nuxt-link>
        </div>
        <div class="content-title">
          <nuxt-link v-if="titleBlog && slugBlog" :to="`/blog/${slugBlog}`" class="is-size-5 has-text-black">
            {{ titleBlog }}
          </nuxt-link>
        </div>
        <time v-if="dateBlog" class="has-text-gray is-size-7">{{ ( new Date(dateBlog)).toDateString() }}</time>
      </div>
    </div>
  </div>
</template>>

<script>
/* eslint-disable */
export default {
  props: {
    titleBlog: {
      type: String,
      default: ''
    },
    excerptBlog: {
      type: String,
      default: ''
    },
    imageBlog: {
      type: String,
      default: ''
    },
    tagBlog: {
      type: Array,
      default: () => []
    },
    dateBlog: {
      type: String,
      default: ''
    },
    slugBlog: {
      type: String,
      default: ''
    }
  }
}
</script>
