<template>
  <div>
    <div v-for="doctor in shuffleDoctors" :key="doctor._id.$oid" class="card">
      <div class="card-content">
        <article class="media">
          <RecomendedDoctorPhoto
            :profile-picture="doctor.foto"
          />
          <div class="media-content">
            <div class="content">
              <span v-if="doctor.spesialis" class="is-size-7-mobile">
                {{ doctor.spesialis }}
              </span>
              <p>
                <nuxt-link :to="`search-doctor/${doctor._id.$oid}`" class="has-text-black">
                  <strong v-if="doctor.gelar_depan" class="is-size-5 is-size-6-mobile">{{ doctor.gelar_depan }}</strong>  <strong v-if="doctor.nama" class="is-size-5 is-size-6-mobile">{{ doctor.nama }}</strong> <strong v-if="doctor.gelar_blk" class="is-size-5 is-size-6-mobile">{{ doctor.gelar_blk }}</strong>
                </nuxt-link>
              </p>
              <br class="is-hidden-mobile">
              <div class="buttons is-pulled-right">
                <nuxt-link :to="`/search-doctor/${doctor._id.$oid}`" class="button is-outlined is-warning is-button-small-mobile">
                  Lihat Profil
                </nuxt-link>
                <nuxt-link :to="`/search-doctor/${doctor._id.$oid}?tab=1`" class="button is-warning is-button-small-mobile">
                  Buat Janji
                </nuxt-link>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import RecomendedDoctorPhoto from '../../components/blog/RecomendedDoctorPhoto'

export default {
  components: {
    RecomendedDoctorPhoto
  },
  props: {
    specialization: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      profilePictureCopy: this.profilePicture,
      doctors: []
    }
  },
  computed: {
    shuffleDoctors () {
      const arr = this.doctors
      // https://stackoverflow.com/questions/19269545/how-to-get-n-no-elements-randomly-from-an-array
      // Shuffle array
      const shuffled = arr.sort(() => 0.5 - Math.random())

      // Get sub-array of first n elements after shuffled
      return shuffled.slice(0, 3)
    }
  },
  mounted () {
    this.fetchRecomendedDoctor(this.specialization)
  },
  methods: {
    handleImageError () {
      const defaultImage = require('../../assets/img/doctor/doctor-default.png')
      this.profilePictureCopy = defaultImage
    },
    async fetchRecomendedDoctor (specialization) {
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      this.loadingRecomendedDoctor = true
      try {
        const response = await axios({
          method: 'POST',
          url: api + '/web/search_doctor?page=' + this.currentPage,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          data: {
            spesialisasi: specialization
          }
        })
        this.doctors = response.data.data.data
        this.loadingRecomendedDoctor = false
      } catch (error) {
        // eslint-disable-next-line
        console.log(error)
        this.loadingRecomendedDoctor = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

.card {
  margin-bottom: 1em;
  .card-content {
    article {
      &.media {
        .media-content {
          overflow-y: hidden;
        }
      }
    }
  }
}

.image-horizontall-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 80px;
    height: 80px;
  }
}

.doctor-address {
  display: flex;
  align-items: flex-start;
  .icon {
    margin-right: 1rem;
  }
}
</style>
