<template>
  <figure class="media-left">
    <img v-if="profilePicture" :src="profilePictureCopy" @error="handleImageError" class="image-horizontall-card">
    <img v-else class="image-horizontall-card" src="../../assets/img/doctor/doctor-default.png">
  </figure>
</template>
<script>
export default {
  props: {
    profilePicture: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      profilePictureCopy: this.profilePicture
    }
  },
  methods: {
    handleImageError () {
      const defaultImage = require('../../assets/img/doctor/doctor-default.png')
      this.profilePictureCopy = defaultImage
    }
  }
}
</script>
