<template>
  <div>
    <AppNavbar />

    <section class="main-content">
      <nuxt />
    </section>

    <AppFooter />
  </div>
</template>

<script>
import AppNavbar from './partials/AppNavbar'
import AppFooter from './partials/AppFooter'

export default {
  components: {
    AppNavbar,
    AppFooter
  },
  data () {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  }
}
</script>
