<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-8 is-offset-2">
            <h1 class="title">
              {{ post.fields.title }}
            </h1>
            <p class="subtitle is-size-7">
              <!-- {{ author.name }} -->
              <time>{{ ( new Date(post.sys.createdAt)).toDateString() }}</time>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <figure class="image">
              <img
                :src="post.fields.image.fields.file.url + '?fit=scale&w=350&h=196'"
                :srcset="`${post.fields.image.fields.file.url}?w=350&h=87&fit=fill 350w, ${post.fields.image.fields.file.url}?w=1000&h=250&fit=fill 1000w, ${post.fields.image.fields.file.url}?w=2000&h=500&fit=fill 2000w`"
                :alt="post.fields.image.fields.description"
                size="100vw"
              >
            </figure>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <VueMarkdown
              :table-class="'table is-bordered is-striped is-narrow is-hoverable is-fullwidth'"
              class="markdown"
            >
              {{ post.fields.content }}
            </VueMarkdown>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div v-if="post.fields.tags" class="buttons">
              <nuxt-link v-for="tag in post.fields.tags" :key="tag" :to="`/blog/category/${tag}`" class="button is-light is-rounded is-small">
                {{ tag }}
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div v-if="post.fields.recomendedDoctor">
              <RecomendedDoctorCard
                :specialization="post.fields.recomendedDoctor"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import VueMarkdown from 'vue-markdown'
import { createClient } from '../../plugins/contentful'
import RecomendedDoctorCard from '../../components/blog/RecomendedDoctorCard'

const contentfulClient = createClient()

export default {
  name: 'ArticleBlog',
  components: {
    VueMarkdown,
    RecomendedDoctorCard
  },
  data () {
    return {
      loading: false,
      loadingRecomendedDoctor: false,
      doctors: []
    }
  },
  asyncData ({ env, params }) {
    return contentfulClient.getEntries({
      'content_type': 'post',
      'fields.slug': params.slug
    }).then((entries) => {
      return {
        post: entries.items[0]
      }
    })
      .catch((error) => {
      // eslint-disable-next-line
      console.log(error)
      })
  }
}
</script>
