<template>
  <div>
    <div class="blog cards">
      <div class="container">
        <div v-if="mergePosts && mergePosts.length" class="columns is-vcentered is-multiline is-3">
          <CardBlog
            v-for="blog in mergePosts"
            :key="blog.sys.id"
            :id-blog="blog.sys.id"
            :title-blog="blog.fields.title"
            :image-blog="blog.fields.image.fields.file.url"
            :date-blog="blog.sys.createdAt"
            :tag-blog="blog.fields.tags"
            :slug-blog="blog.fields.slug"
          />
          <!-- {{ tesBlogs }} -->
        </div>
        <div class="columns has-text-centered">
          <div class="column">
            <template v-if="blogs && blogs.length">
              <button :class="{'is-loading': loading}" @click="fetchBlogPosts(limit, skip)" class="button is-primary is-outlined">
                Lihat Lebih Banyak Artikel
              </button>
            </template>
            <template v-else>
              <p>
                Tidak Ada Artikel Lagi
              </p>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardBlog from '../../components/blog/CardBlog'
import { createClient } from '../../plugins/contentful'

const contentfulClient = createClient()

export default {
  name: 'Blog',
  components: {
    CardBlog
  },
  data () {
    return {
      selectLoading: false,
      loading: false,
      blogs: [],
      tesBlogs: [],
      tag: '',
      limit: 2,
      skip: 0
    }
  },
  computed: {
    mergePosts () {
      return [].concat.apply([], this.tesBlogs)
    }
  },
  async created () {
    await this.fetchBlogPosts(this.limit, this.skip)
  },
  methods: {
    async fetchBlogPosts (limitValue, skipValue) {
      try {
        this.loading = true
        const entries = await contentfulClient.getEntries({
          'content_type': 'post',
          order: '-sys.createdAt',
          limit: limitValue,
          skip: skipValue
        })
        this.blogs = entries.items
        const tes = entries.items
        if (tes && tes.length) {
          this.tesBlogs.push(tes)
        }
        this.skip += this.limit
        this.loading = false
      } catch (error) {
        /* eslint-disable-next-line */
        console.log(error)
        this.loading = false
      }
    }
  },
  head () {
    return {
      title: 'MedUp - Blog',
      meta: [
        { hid: 'description', name: 'description', content: 'Berbagai informasi, artikel, dan jurnal mengenai kesehatan' }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

.blog {
  padding: 50px 0;
  background-color: #fafafa;
  @include mobile {
    padding: 3rem 1.5rem;
  }
}
</style>
