<template>
  <div>
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <img v-if="profilePictureCopy" :src="profilePictureCopy" @error="handleImageError" class="image-horizontall-card">
            <img v-else class="image-horizontall-card" src="../../assets/img/doctor/doctor-default.png">
          </figure>
          <div class="media-content">
            <div class="content">
              <span v-if="specialization" class="is-size-7-mobile">
                {{ specialization }}
              </span>
              <p>
                <nuxt-link :to="`search-doctor/${doctorId}`" class="has-text-black">
                  <strong v-if="frontDegree" class="is-size-5 is-size-6-mobile">{{ frontDegree }}</strong>  <strong v-if="name" class="is-size-5 is-size-6-mobile">{{ name }}</strong> <strong v-if="backDegree" class="is-size-5 is-size-6-mobile">{{ backDegree }}</strong>
                </nuxt-link>
              </p>
              <br class="is-hidden-mobile">
              <div class="buttons is-pulled-right">
                <nuxt-link :to="`search-doctor/${doctorId}`" class="button is-outlined is-warning is-button-small-mobile">
                  Lihat Profil
                </nuxt-link>
                <nuxt-link :to="`search-doctor/${doctorId}?tab=1`" class="button is-warning is-button-small-mobile">
                  Buat Janji
                </nuxt-link>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    doctorId: {
      type: String,
      default: ''
    },
    frontDegree: {
      type: String,
      default: ''
    },
    backDegree: {
      type: String,
      default: ''
    },
    specialization: {
      type: String,
      default: ''
    },
    profilePicture: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      profilePictureCopy: this.profilePicture
    }
  },
  methods: {
    handleImageError () {
      const defaultImage = require('../../assets/img/doctor/doctor-default.png')
      this.profilePictureCopy = defaultImage
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

.card {
  margin-bottom: 1em;
  .card-content {
    article {
      &.media {
        .media-content {
          overflow-y: hidden;
        }
      }
    }
  }
}

.image-horizontall-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 80px;
    height: 80px;
  }
}

.doctor-address {
  display: flex;
  align-items: flex-start;
  .icon {
    margin-right: 1rem;
  }
}
</style>
