<template>
  <div>
    <hr>
    <template v-if="!loading">
      <template v-if="healthFacility">
        <article class="media">
          <figure class="media-left">
            <img v-if="healthFacility.foto" :src="healthFacility.foto" @error="handleImageError" class="image-horizontall-card">
            <img v-else class="image-horizontall-card" src="../../assets/img/health-facility/health-facility-default.png">
          </figure>
          <div class="media-content">
            <div class="content">
              <span v-if="healthFacility.jenis" class="is-size-7-mobile">{{ healthFacility.jenis }}</span>
              <p>
                <nuxt-link :to="`/search-health-facility/${healthFacilityCode}`" class="has-text-black">
                  <strong v-if="healthFacility.nama" class="is-size-5 is-size-6-mobile"> {{ healthFacility.nama }} </strong>
                </nuxt-link>
              </p>
              <div class="health-facility-address">
                <b-icon
                  icon="map-marker"
                  class="is-hidden-mobile"
                />
                <p v-if="healthFacility.alamat" class="is-size-7-mobile">
                  {{ healthFacility.alamat }}
                </p>
              </div>
              <br>
              <div class="buttons is-pulled-right">
                <nuxt-link :to="`/search-health-facility/${healthFacilityCode}`" class="button is-outlined is-warning is-pulled-right is-button-small-mobile">
                  Lihat Detail
                </nuxt-link>
                <button @click="makeCall" class="button is-warning is-button-small-mobile">
                  Panggil
                </button>
              </div>
            </div>
          </div>
        </article>
        <b-collapse :open="false">
          <div
            slot="trigger"
            slot-scope="props"
            role="button"
            style="box-shadow: none"
          >
            <p class="has-text-primary is-size-7-mobile">
              Jadwal Dokter
              <a class="collapse-icon">
                <b-icon
                  :icon="props.open ? 'menu-down' : 'menu-up'"
                />
              </a>
            </p>
          </div>
          <ul>
            <li v-for="(schedule,index) in transformSchedules" :key="schedule.hari">
              <div class="schedule-container">
                <div class="schedule-column">
                  <span class="is-size-7-mobile">
                    {{ schedule.hari }}
                    <template v-if="index === getCurrentDay">
                      <span class="has-text-primary">
                        &#8226;
                      </span>
                    </template>
                  </span>
                </div>
                <div class="schedule-column">
                  <span v-for="jam in schedule.jam" :key="jam" class="is-size-7-mobile">
                    <template v-if="jam === '00:00 - 00:00'">
                      Tidak ada jadwal
                    </template>
                    <template v-else>
                      {{ jam }}
                    </template>
                    <br>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </b-collapse>
        <b-modal :active.sync="isModalCallActive" has-modal-card>
          <div class="modal-card">
            <div class="modal-card-body">
              <p class="has-text-weight-bold">
                Silakan Hubungi Nomor Berikut:
              </p>
              <p>
                Nomor Umum:
                <span v-for="(telephone,index) in healthFacility.telp" :key="telephone">
                  <template v-if="index === 0">
                    {{ healthFacility.kode_telp }} - {{ telephone }}
                  </template>
                  <template>
                    , {{ healthFacility.kode_telp }} - {{ telephone }}
                  </template>
                </span>
              </p>
              <p>
                Nomor IGD:
                <span v-for="(igd, index) in healthFacility.telp_igd" :key="igd">
                  <template v-if="index === 0">
                    {{ igd }}
                  </template>
                  <template>
                    , {{ igd }}
                  </template>
                </span>
              </p>
              <p>
                Nomor Reservasi:
                <span v-for="(reservasi, index) in healthFacility.telp_reservasi" :key="reservasi">
                  <template v-if="index === 0">
                    {{ reservasi }}
                  </template>
                  <template>
                    , {{ reservasi }}
                  </template>
                </span>
              </p>
            </div>
          </div>
        </b-modal>
      </template>
      <template v-else>
        <p>Mohon maaf, data fasilitas kesehatan belum tersedia</p>
      </template>
    </template>
    <template v-else>
      <p class="has-text-centered">
        Loading...
      </p>
    </template>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'PracticeSchedule',
  props: {
    name: {
      type: String,
      default: ''
    },
    healthFacilityId: {
      type: String,
      default: ''
    },
    healthFacilityCode: {
      type: String,
      default: ''
    },
    address: {
      type: String,
      default: ''
    },
    facilityPicture: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: ''
    },
    schedules: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      healthFacility: {},
      isModalCallActive: false,
      loading: false
    }
  },
  computed: {
    transformSchedules () {
      const finalJadwal = []
      const mulaiSelesaiObject = {}
      const hariObject = {}

      for (let i = 0; i < this.schedules.length; i++) {
        const schedule = this.schedules[i]
        const mulaiSelesaiItem = []
        for (let j = 0; j < schedule.mulai.length; j++) {
          const mulaiSelesaiSubItem = schedule.mulai[j] + ' - ' + schedule.selesai[j]
          mulaiSelesaiItem.push(mulaiSelesaiSubItem)
        }
        mulaiSelesaiObject.jam = mulaiSelesaiItem
        hariObject.hari = this.schedules[i].hari
        const mergeHariMulaiSelesai = { ...mulaiSelesaiObject, ...hariObject }
        finalJadwal.push(mergeHariMulaiSelesai)
      }

      return finalJadwal
    },
    getCurrentDay () {
      const currentDate = new Date()
      return currentDate.getDay()
    }
  },
  async created () {
    await this.fetchProfileHealthFacilityById(this.healthFacilityCode)
  },
  methods: {
    handleImageError () {
      const defaultImage = require('../../assets/img/health-facility/health-facility-default.png')
      this.healthFacility.foto = defaultImage
    },
    async fetchProfileHealthFacilityById (id) {
      try {
        const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
        this.loading = true
        const response = await axios({
          method: 'GET',
          url: api + '/hospital/faskes_kode/' + id,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.healthFacility = response.data.data
        this.loading = false
      } catch (error) {
        // eslint-disable-next-line
        console.log(error)
        this.healthFacility = {}
        this.loading = false
      }
    },
    makeCall () {
      this.isModalCallActive = true
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

.image-horizontall-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 80px;
    height: 80px;
  }
}

.health-facility-address {
  display: flex;
  align-items: flex-start;
  .icon {
    margin-right: 1rem;
      @include mobile {
        margin-right: 0;
      }
  }
}

.schedule-container {
  display: flex;
  width: 300px;
  margin-bottom: 1em;
  @include mobile {
    width: 100%;
  }
  .schedule-column {
    flex-grow: 1;
    width: 150px;
    @include mobile {
      width: 50%;
    }
  }
}

.collapse-icon {
  top: 4px;
  position: relative;
}

article {
  &.media {
    figure {
      &.media-left {
        margin-left: 0;
        @include mobile {
          margin-right: 1rem;
        }
      }
    }
    .media-content {
      overflow-y: hidden;
    }
  }
}
</style>
