<template>
  <div>
    <!--  about medup section-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline is-vcentered">
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${aboutMedupSection.image}`)" alt="">
            </div>
            <div class="column">
              <h1 class="title">
                {{ aboutMedupSection.title }}
              </h1>
              <p>
                {{ aboutMedupSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  end about section-->
    <!-- platform section -->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline is-vcentered">
            <div class="column">
              <h1 class="title">
                {{ platformMedupSection.title }}
              </h1>
              <p>
                {{ platformMedupSection.description }}
              </p>
            </div>
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${platformMedupSection.image}`)" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end platform section -->
    <!--  Hashtag medup section-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline is-vcentered">
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${hashtagMedupSection.image}`)" alt="">
            </div>
            <div class="column">
              <h1 class="title">
                {{ hashtagMedupSection.title }}
              </h1>
              <p>
                {{ hashtagMedupSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  end about section-->
  </div>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      aboutMedupSection: {
        title: 'Tentang MedUp',
        description: 'MedUp merupakan sebuah perusahaan digital yang berfokus pada bidang pelayanan kesehatan. Kami percaya bahwa kesehatan adalah hak dasar setiap manusia. Untuk itu, kami mempunyai visi dan misi untuk  memberikan solusi perawatan kesehatan dari hulu ke hilir melalui pemanfaatan teknologi dan digital, guna meningkatkan kualitas kesehatan di Indonesia.',
        image: 'logo-min.png'
      },
      platformMedupSection: {
        title: 'Platform Kesehatan Satu Atap',
        image: 'download.png',
        description: 'Platform MedUp terintegrasi secara lengkap untuk memenuhi kebutuhan kesehatan masyarakat Indonesia, mulai dari pencarian dokter, informasi lengkap tentang dokter dan fasilitas kesehatan, buat janji dengan dokter, hingga hospital-community engagement bagi pasien, dokter dan pihak rumah sakit.'
      },
      hashtagMedupSection: {
        title: '#SehatSekarang bersama MedUp',
        image: 'download.png',
        description: 'Dengan mengusung hastag #SehatSekarang, kami ingin masyarakat Indonesia lebih peduli terhadap kesehatan dengan mengedepankan pencegahan terhadap terhadap penyakit sehingga kualitas kesehatan di Indonesia akan semakin baik. Dengan akses pelayanan kesehatan yang lebih mudah, kami berharap dapat membantu masyarakat Indonesia dalam membuat keputusan terbaik terkait kesehatan diri dan orang di sekitarnya.'
      }
    }
  },
  head () {
    return {
      title: 'Tentang Kami - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: 'MedUp adalah suatu platform yang bertujuan menghubungkan pasien dan dokter dengan membantu pasien untuk memesan dan membuat janji dengan dokter. Kami juga memberikan informasi kesehatan melalui integrasi dokter dan fasilitas kesejatan yang terpercaya. Visi kami adalah memberikan solusi perawatan kesehatan dari hulu ke hilir serta meningkatkan kualitas kesehatan Indonesia.' }
      ]
    }
  }
}
</script>

<style>

</style>
