<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-4">
              <nuxt-link to="/faq#umum">
                <div class="card">
                  <div class="card-content">
                    <div class="columns is-vcentered is-mobile">
                      <div class="column is-3">
                        <img src="../assets/img/icon/umum.svg">
                      </div>
                      <div class="column">
                        <h1 class="title is-6 has-text-primary">
                          {{ pertanyaanUmumSection.title }}
                        </h1>
                        <p class="subtitle is-6">
                          {{ pertanyaanUmumSection.description }}
                        </p>
                      </div>
                      <div class="column is-1 chevron-margin">
                        <b-icon
                          icon="chevron-right"
                          size="is-medium"
                          type="is-grey"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </nuxt-link>
              <br>
              <nuxt-link to="/faq#dokterdanfaskes">
                <div class="card">
                  <div class="card-content">
                    <div class="columns is-vcentered is-mobile">
                      <div class="column is-3">
                        <img src="../assets/img/icon/dokter.svg">
                      </div>
                      <div class="column">
                        <p class="title is-6 has-text-warning">
                          {{ pertanyaanDokterFaskesSection.title }}
                        </p>
                        <p class="subtitle is-6">
                          {{ pertanyaanDokterFaskesSection.description }}
                        </p>
                      </div>
                      <div class="column is-1 chevron-margin">
                        <b-icon
                          icon="chevron-right"
                          size="is-medium"
                          type="is-grey"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </nuxt-link>
              <br>
              <nuxt-link to="/faq#pasien">
                <div class="card">
                  <div class="card-content">
                    <div class="columns is-vcentered is-mobile">
                      <div class="column is-3">
                        <img src="../assets/img/icon/pasien.svg">
                      </div>
                      <div class="column">
                        <p class="title is-6 has-text-success">
                          {{ pertanyaanPasienSection.title }}
                        </p>
                        <p class="subtitle is-6">
                          {{ pertanyaanPasienSection.description }}
                        </p>
                      </div>
                      <div class="column is-1 chevron-margin">
                        <b-icon
                          icon="chevron-right"
                          size="is-medium"
                          type="is-grey"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>
            <div class="column is-8">
              <p id="umum" class="title is-5 has-text-primary">
                Pertanyaan Umum
              </p>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-primary">
                    {{ umumSatuSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ umumSatuSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-primary">
                    {{ umumDuaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ umumDuaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-primary">
                    {{ umumTigaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ umumTigaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-primary">
                    {{ umumEmpatSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ umumEmpatSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-primary">
                    {{ umumLimaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ umumLimaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-primary">
                    {{ umumEnamSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ umumEnamSection.description }}
                  </div>
                </div>
              </b-collapse>
              <br>
              <p id="dokterdanfaskes" class="title is-5 has-text-warning">
                Pertanyaan seputar dokter dan fasilitas kesehatan
              </p>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesSatuSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesSatuSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesDuaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesDuaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesTigaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesTigaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesEmpatSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesEmpatSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesLimaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesLimaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesEnamSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesEnamSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-warning">
                    {{ dokterFaskesTujuhSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ dokterFaskesTujuhSection.description }}
                  </div>
                </div>
              </b-collapse>
              <br>
              <p id="pasien" class="title is-5 has-text-success">
                Pertanyaan seputar Pasien
              </p>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-success">
                    {{ pasienSatuSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ pasienSatuSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-success">
                    {{ pasienDuaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ pasienDuaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-success">
                    {{ pasienTigaSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ pasienTigaSection.description }}
                  </div>
                </div>
              </b-collapse>
              <b-collapse :open="false" class="card" aria-id="contentIdForA11y3">
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="contentIdForA11y3"
                >
                  <p class="card-header-title has-text-success">
                    {{ pasienEmpatSection.title }}
                  </p>
                  <a class="card-header-icon">
                    <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'"
                    />
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{ pasienEmpatSection.description }}
                  </div>
                </div>
              </b-collapse>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Faskes',
  data () {
    return {
      pertanyaanUmumSection: {
        title: 'Pertanyaan Umum',
        description: 'Pertama kali ? Yuk cari jawaban dari pertanyaan mu!'
      },
      pertanyaanDokterFaskesSection: {
        title: 'Pertanyaan Seputar Dokter dan Fasilitas Kesehatan',
        description: 'Pertama kali ? Yuk cari jawaban dari pertanyaan mu!'
      },
      pertanyaanPasienSection: {
        title: 'Pertanyaan Seputar Pasien',
        description: 'Pertama kali ? Yuk cari jawaban dari pertanyaan mu!'
      },
      umumSatuSection: {
        title: 'Apa itu MedUp? ',
        description: 'MedUp adalah aplikasi layanan kesehatan dengan pengalaman terintegrasi untuk penyedia layanan kesehatan dan pasien. MedUp bertujuan untuk menghubungkan pasien dan klinik dengan membantu memesan atau membuat janji, memberikan informasi kesehatan melalui penemuan dokter dan fasilitas kesehatan tepercaya.'
      },
      umumDuaSection: {
        title: 'Bagaimana saya menggunakan MedUp?',
        description: 'Semua fitur yang tersedia di MedUp dapat diakses melalui browser web di www.medup.id. Aplikasi seluler MedUp juga dapat digunakan untuk melakukan beberapa fungsi utama. Aplikasi seluler tersedia di App Store dan di Google Play.'
      },
      umumTigaSection: {
        title: 'Bagaimana saya tahu bahwa saya memiliki versi terbaru dari Medup ?',
        description: 'Ketika Anda mengakses aplikasi melalui browser web, dapat dipastikan bahwa Anda mengakses versi terbaru. Untuk aplikasi seluler, akan diperbarui secara berkala. Pastikan sistem operasi seluler Anda memastikan pembaruan aplikasi bila diperlukan.'
      },
      umumEmpatSection: {
        title: 'Bagaimana saya bisa melaporkan bug, mendapatkan bantuan atau memberikan umpan balik?',
        description: 'Anda dapat mengirimkan umpan balik Anda dengan mengirim email ke tim dukungan kami di contact@medup.id.'
      },
      umumLimaSection: {
        title: 'Apakah data saya aman?',
        description: 'Ya, kami menangani keamanan data dengan sangat serius. Kami melakukan semua langkah untuk memastikan keamanan untuk catatan kesehatan yang disimpan di server kami. Semua server MedUp di-host di dalam Server Pribadi di dalam Amazon Cloud dengan beberapa cadangan data. Yang berarti data Anda ada di tangan yang aman. Kami menyarankan pengguna kami untuk menggunakan kata sandi yang kuat untuk memastikan akun mereka tidak pernah disusupi'
      },
      umumEnamSection: {
        title: 'Apakah data pribadi saya digunakan?',
        description: 'Kami tidak menggunakan data pribadi Anda di luar cakupan aplikasi.'
      },
      dokterFaskesSatuSection: {
        title: 'Bagaimana cara mendaftarkan tempat praktek saya?',
        description: 'Jika Anda adalah penyedia Layanan Kesehatan dan ingin mendaftarkan tempat praktek Anda, silakan klik di sini untuk menjadwalkan janji kunjungan dengan staf penjualan kami.'
      },
      dokterFaskesDuaSection: {
        title: 'Bagaimana dengan staf saya? Apakah saya harus mengajari mereka cara menggunakan MedUp?',
        description: 'Tim kami selalu siap untuk melatih anggota staf Anda. Kami juga mengadakan program pelatihan reguler untuk memberikan pelatihan langsung kepada resepsionis dan petugas.'
      },
      dokterFaskesTigaSection: {
        title: 'Bagaimana dengan pembaruan fitur? Apakah saya harus membayar lagi?',
        description: 'Setelah berlangganan ke sistem kami, Anda secara otomatis berhak atas semua pembaruan.'
      },
      dokterFaskesEmpatSection: {
        title: 'Dapatkan saya mencoba MedUp terlebih dahulu?',
        description: 'Tentu saja! Ikuti uji coba gratis selama 1 bulan. Setelah Anda terbiasa, Anda dapat membeli langganan yang paling cocok untuk Anda.'
      },
      dokterFaskesLimaSection: {
        title: 'Bisakah saya menggunakan MedUp untuk mengatur jadwal saya?',
        description: 'Ya, sebagai dokter atau staf Anda dapat menyesuaikan jadwal Anda di MedUp.'
      },
      dokterFaskesEnamSection: {
        title: 'Untuk pasien yang menjadwalkan online, bagaimana kita tahu mereka memesan janji temu?',
        description: 'Ketika seorang pasien menjadwalkan online, maka itu segera ditempatkan di sistem manajemen praktik Anda dengan label pasien MedUp sehingga Anda tahu dari mana asalnya.'
      },
      dokterFaskesTujuhSection: {
        title: 'Apa keuntungan yang saya miliki jika saya menambahkan layanan kesehatan saya yang berbeda ke MedUp?',
        description: 'Kami menyarankan Anda menambahkan semua layanan kesehatan berbeda yang Anda tawarkan ke MedUp bersama dengan tarif untuk masing-masing. Tujuannya adalah membantu mengiklankan praktik Anda dengan cara yang lebih baik kepada pasien ketika mereka mencari dokter spesialis.'
      },
      pasienSatuSection: {
        title: 'Apakah janji saya dikonfirmasi setelah saya memesan melalui MedUp?',
        description: 'Janji temu Anda akan dikonfirmasikan setelah petugas atau dokter sendiri mengkonfirmasi pemesanan pada aplikasi kami. Setelah dikonfirmasi, Anda akan mendapatkan pesan konfirmasi di ponsel Anda.'
      },
      pasienDuaSection: {
        title: 'Bisakah saya membatalkan janji jika saya membuat janji secara online?',
        description: 'Ya kamu bisa. Anda dapat membatalkan janji temu yang Anda buat secara online atau dengan ponsel pintar Anda, kapan saja.'
      },
      pasienTigaSection: {
        title: 'Bagaimana jika MedUp tidak ada di kota saya?',
        description: 'Ingin membantu kami membawa MedUp ke kota Anda? Silakan merujuk dokter Anda dengan menghubungi kami melalui medup.official@gmail.com'
      },
      pasienEmpatSection: {
        title: 'Apa manfaat membuat akun?',
        description: 'Dengan membuat akun, Anda cukup memasukkan informasi satu kali dan kami akan menyimpannya untuk janji yang akan dating. Anda juga bias menyimpan dokter favorit Anda di profil Anda agar mudah diingat. Anda juga dapat melihat riwayat semua janji temu Anda yang dijadwalkan dengan MedUp. Klik di sini untuk membuat akun.'
      }
    }
  },
  head () {
    return {
      title: 'FAQ - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: 'Pertanyaan Umum, Dokter, Fasilitas Kesehatan, dan Pasien' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  }
  .chevron-margin {
    margin-left: -30px;
    margin-right: 10px !important;
  }
</style>
