<template>
  <div>
    <!-- Tingkat Medup section -->
    <!--  eslint-disable-line-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <h1 class="title">
                {{ tingkatMedupSection.title }}
              </h1>
              <p>
                {{ tingkatMedupSection.description }}
              </p>
            </div>
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${tingkatMedupSection.image}`)" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end Tingkat section -->
    <!--  Pasien Baru medup section-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${pasienMedupSection.image}`)" alt="">
            </div>
            <div class="column">
              <h1 class="title">
                {{ pasienMedupSection.title }}
              </h1>
              <p>
                {{ pasienMedupSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  end Pasien Baru section-->
    <!-- Tingkat Medup section -->
    <!--  eslint-disable-line-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <h1 class="title">
                {{ reputasiMedupSection.title }}
              </h1>
              <p>
                {{ reputasiMedupSection.description }}
              </p>
            </div>
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${reputasiMedupSection.image}`)" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end Tingkat section -->
    <!--  perjanjian medup section-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${perjanjianMedupSection.image}`)" alt="">
            </div>
            <div class="column">
              <h1 class="title">
                {{ perjanjianMedupSection.title }}
              </h1>
              <p>
                {{ perjanjianMedupSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  end perjanjian section-->
    <!-- Tingkat Medup section -->
    <!--  eslint-disable-line-->
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <h1 class="title">
                {{ requestMedupSection.title }}
              </h1>
              <p>
                {{ requestMedupSection.description }}
              </p>
              <br>
              <b-field>
                <b-input placeholder="Nama Anda" />
              </b-field>
              <b-field>
                <b-input placeholder="Email Anda" />
              </b-field>
              <b-field>
                <b-input placeholder="Nomor Telepon" />
              </b-field>
              <b-field>
                <b-input placeholder="Nama Faskes" />
              </b-field>
              <b-field grouped>
                <b-select expanded>
                  <option disabled selected value="null">
                    Jenis Tempat Praktek
                  </option>
                  <option value="Rumah Sakit">
                    Rumah Sakit
                  </option>
                  <option value="Klinik Umum">
                    Klinik Umum
                  </option>
                  <option value="Klinik Gigi">
                    Klinik Gigi
                  </option>
                  <option value="Klinik Kecantikan">
                    Klinik Kecantikan
                  </option>
                  <option value="Klinik Hewan">
                    Klnik Hewan
                  </option>
                  <option value="Praktek Dokter Perseorangan">
                    Praktek Dokter Perseorangan
                  </option>
                </b-select>
              </b-field>
              <b-field grouped>
                <b-select expanded>
                  <option disabled selected value="null">
                    Role
                  </option>
                  <option value="Staff">
                    Staff
                  </option>
                  <option value="Perawat">
                    Perawat
                  </option>
                  <option value="Dokter">
                    Dokter
                  </option>
                  <option value="Pemilik">
                    Pemilik
                  </option>
                </b-select>
              </b-field>
              <b-button class="button is-fullwidth" type="is-info" expanded>
                KIRIM PESAN
              </b-button>
            </div>
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/${requestMedupSection.image}`)" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end Tingkat section -->
  </div>
</template>

<script>
export default {
  name: 'Faskes',
  data () {
    return {
      tingkatMedupSection: {
        title: 'Tingkatkan Pengalaman Pasien Anda dengan Kami',
        description: 'Otomatiskan proses klinik Anda termasuk penjadwalan dan manajemen janji temu. Tingkatkan pengalaman pasien Anda dengan layanan yang lebih mudah diakses.',
        image: 'header-klinik.png'
      },
      pasienMedupSection: {
        title: 'Dapatkan Pasien Baru',
        description: 'Dengan sistem platform pemesanan layanan kesehatan satu atap, Anda dapat menempatkan profil tempat praktek Anda secara lengkap dan terperinci. Sehingga pasien baru akan lebih mudah mendapatkan informasi tentang tempat praktik Anda.',
        image: 'request-demo.png'
      },
      reputasiMedupSection: {
        title: 'Perkuat Reputasi Anda',
        description: 'Apakah Anda ingin menjadi populer di antara pasien Anda? Beri tahu pasien Anda tentang semua layanan dan fasilitas terbaik Anda. Dapatkan ulasan & rujukan dari pasien Anda untuk membangun tempat praktik Anda.',
        image: 'hero.png'
      },
      perjanjianMedupSection: {
        title: 'Kelola Perjanjian dengan lebih mudah!',
        description: 'MedUp memungkinkan Anda mengelola semua data janji temu Anda di satu tempat. Anda dan staf Anda dapat tetap mengikuti perkembangan jadwal terbaru dengan memeriksa kalender Anda di web atau aplikasi seluler. Dengan MedUp, pasien dapat meminta janji kapan saja tanpa perlu staf Anda menelepon.',
        image: 'book.png'
      },
      requestMedupSection: {
        title: 'Daftarkan tempat praktek Anda sekarang! ',
        description: 'Silahkan isi form dibawah ini untuk mencoba gratis trial selama 30 hari.',
        image: 'request-demo.png'
      }
    }
  }
}
</script>
