<template>
  <div>
    <!-- features section -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-7">
              <h1 class="title">
                Hai, Merasa tidak enak badan hari ini?
              </h1>
              <p class="has-text-weight-medium">
                Mari Buat janji pemeriksaan dengan dokter terbaik di MedUp
              </p>
              <br>
              <div class="buttons">
                <p class="search-text">
                  Pencarian
                </p>
                <a :class="{ 'button is-primary is-outlined': searchDoctorActivated == true }" @click="searchDoctorActivated = true" class="button">
                  Dokter
                </a>
                <a :class="{ 'button is-primary is-outlined': searchDoctorActivated == false }" @click="searchDoctorActivated = false" class="button">
                  Rumah Sakit
                </a>
              </div>
              <form v-if="searchDoctorActivated" @submit.prevent="searchDoctor">
                <div class="field is-horizontal">
                  <div class="field-body">
                    <!-- <div class="field">
                      <div class="control is-expanded">
                        <input v-model="doctorName" class="input" type="text" placeholder="Cari dokter dan spesialisasi">
                      </div>
                    </div> -->
                    <b-field>
                      <b-autocomplete
                        ref="autocomplete"
                        v-model="doctorName"
                        :data="doctorDataTransform[0]"
                        :open-on-focus="false"
                        :loading="isLoadingDoctorData"
                        @typing="getAsyncDoctorData"
                        @select="option => selectedDoctor = option"
                        placeholder="Cari nama dokter dan spesialisasi"
                        field="doctorName"
                      >
                        <template slot="header">
                          <h1
                            v-show="doctorDataTransform[0] && doctorDataTransform[0].length"
                            class="specialization-title is-size-5 has-text-weight-bold"
                          >
                            Dokter
                          </h1>
                        </template>
                        <template slot-scope="props">
                          <div class="media">
                            <nuxt-link :to="'/search-doctor/' + props.option._id" class="has-text-dark">
                              {{ props.option.doctorName }}
                            </nuxt-link>
                          </div>
                        </template>
                        <template slot="footer">
                          <div class="specialization-autocomplate">
                            <h1
                              v-if="doctorDataTransform[1] && doctorDataTransform[1].length"
                              class="specialization-title is-size-5 has-text-weight-bold"
                            >
                              Spesialis
                            </h1>
                            <a
                              v-for="specializationSuggestion in doctorDataTransform[1]"
                              :key="specializationSuggestion._id.$oid"
                              @click="goToSpecialization(specializationSuggestion.nama)"
                              class="dropdown-item"
                            >
                              {{ specializationSuggestion.nama }}
                            </a>
                          </div>
                        </template>
                        <template slot="empty">
                          <p>
                            No results for {{ doctorName }}
                          </p>
                        </template>
                      </b-autocomplete>
                    </b-field>
                    <div class="field">
                      <div class="control">
                        <button type="submit" class="button is-warning is-fullwidth-mobile">
                          Cari
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form v-else @submit.prevent="searchHealthFacility">
                <div class="field is-horizontal">
                  <div class="field-body">
                    <b-field class="is-narrow">
                      <b-autocomplete
                        ref="autocomplete"
                        :data="locationData"
                        :open-on-focus="true"
                        :loading="isFetchingLocation"
                        @typing="getAsyncDataLocation"
                        @select="option => selectedLocation = option"
                        placeholder="Masukkan Lokasi"
                        field="nama"
                        icon="map-marker"
                      >
                        <template slot-scope="props">
                          <div class="media">
                            <span>
                              {{ props.option.nama }}
                            </span>
                          </div>
                        </template>
                      </b-autocomplete>
                    </b-field>
                    <!-- <div class="field">
                      <div class="control is-expanded">
                        <input v-model="healthFacilityName" class="input" type="text" placeholder="Cari rumah sakit">
                      </div>
                    </div> -->
                    <b-field>
                      <b-autocomplete
                        ref="autocomplete"
                        v-model="healthFacilityName"
                        :data="healthFacilitySuggestionData"
                        :open-on-focus="false"
                        :loading="loadHealthFacilitySuggestion"
                        @typing="getSuggestionHealthFacility"
                        @select="option => selectedHealthFacility = option"
                        placeholder="Cari nama fasilitas kesehatan"
                        field="doctorName"
                      >
                        <template slot="header">
                          <h1
                            v-show="healthFacilitySuggestionData && healthFacilitySuggestionData.length"
                            class="specialization-title is-size-5 has-text-weight-bold"
                          >
                            Fasilitas Kesehatan
                          </h1>
                        </template>
                        <template slot-scope="props">
                          <div class="media">
                            <nuxt-link :to="'/search-health-facility/' + props.option.kode_rs" class="has-text-dark">
                              {{ props.option.nama }}
                            </nuxt-link>
                          </div>
                        </template>
                        <template slot="empty">
                          <p>
                            No results for {{ healthFacilityName }}
                          </p>
                        </template>
                      </b-autocomplete>
                    </b-field>
                    <div class="field">
                      <div class="control">
                        <button type="submit" class="button is-warning is-fullwidth-mobile">
                          Cari
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="column is-5 has-text-centered">
              <img :src="require(`@/assets/img/homepage/${heroSection.image}`)" alt="hero image" width="80%">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end features section -->
    <!-- features section -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-12">
              <h1 class="title has-text-centered">
                {{ featuresSection.title.firstLine }}
                <br>
                <span class="has-text-weight-normal">{{ featuresSection.title.secondLine }}</span>
              </h1>
              <p class="has-text-centered">
                {{ featuresSection.description.firstLine }}
                <br>
                {{ featuresSection.description.secondLine }}
              </p>
            </div>
            <div v-for="feature in featuresSection.features" :key="feature.title" class="column">
              <div class="card">
                <div class="card-content has-text-centered">
                  <img :src="require(`@/assets/img/homepage/${feature.image}`)" alt="">
                  <br>
                  <h2 class="is-size-5">
                    {{ feature.title }}
                  </h2>
                  <p>
                    {{ feature.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end features section -->
    <!-- health facility and doctor section -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-5">
              <h1 class="title">
                {{ healthFacilityAndDoctorSection.title }}
              </h1>
              <p>
                {{ healthFacilityAndDoctorSection.description }}
              </p>
            </div>
            <div class="column is-7 has-text-centered">
              <img :src="require(`@/assets/img/homepage/${healthFacilityAndDoctorSection.image}`)" alt="" width="80%">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end health facility and doctor section -->
    <!-- booking section -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-7 has-text-centered">
              <img :src="require(`@/assets/img/homepage/${bookingSection.image}`)" alt="" width="80%">
            </div>
            <div class="column is-5">
              <h1 class="title">
                {{ bookingSection.title }}
              </h1>
              <p>
                {{ bookingSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end booking section -->
    <!-- queue section -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-5">
              <h1 class="title">
                {{ queueSection.title }}
              </h1>
              <p>
                {{ queueSection.description }}
              </p>
            </div>
            <div class="column is-7 has-text-centered">
              <img :src="require(`@/assets/img/homepage/${queueSection.image}`)" alt="" width="80%">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end queue section -->
    <!-- download section -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-7 has-text-centered">
              <img :src="require(`@/assets/img/homepage/${downloadSection.image}`)" alt="" width="80%">
            </div>
            <div class="column is-5">
              <h1 class="title">
                {{ downloadSection.title }}
              </h1>
              <p>
                {{ downloadSection.description }}
              </p>
              <br>
              <nuxt-link class="buttons" to="/#mulai">
                <b-button type="is-warning" expanded>
                  Mulai Sekarang
                </b-button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end download section -->
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'HomePage',
  data () {
    return {
      locationData: [],
      // selectedLocation: null,
      isFetchingLocation: false,
      lat: '',
      long: '',
      doctorName: '',
      healthFacilityName: '',
      selectedCity: 'Yogyakarta',
      searchDoctorActivated: true,
      doctorData: [],
      isLoadingDoctorData: false,
      specializationData: [],
      selectedSpecialization: '',
      healthFacilitySuggestionData: [],
      loadHealthFacilitySuggestion: false,
      heroSection: {
        title: 'Hai, Merasa tidak enak badan hari ini?',
        description: 'Mari Buat janji pemeriksaan dengan dokter terbaik di MedUp',
        image: 'hero_illustration.png'
      },
      featuresSection: {
        title: {
          firstLine: '#SehatSekarang',
          secondLine: 'Bersama MedUp'
        },
        description: {
          firstLine: 'Temukan kemudahan dalam mencari dokter terbaik Anda dan buat',
          secondLine: 'janji pemeriksaan dalam beberapa langkah.'
        },
        features: [
          {
            title: 'Cari Dokter 24/7',
            description: 'Tanpa Nunggu, Tanpa Ribet',
            image: 'langkah1.png'
          },
          {
            title: 'Profil Dokter',
            description: 'Profil & jam praktik dokter',
            image: 'langkah2.png'
          },
          {
            title: 'Buat Janji dan Registrasi Online',
            description: 'Mudah dalam beberapa langkah',
            image: 'langkah3.png'
          }
        ]
      },
      healthFacilityAndDoctorSection: {
        title: 'Fasilitas Kesehatan dan Dokter dalam Genggaman Anda',
        description: 'Anda dapat mencari Dokter dan Fasilitas Kesehatan yang paling sesuai dengan kebutuhan Anda berdasarkan lokasi, jenis penyakit, jam praktek dokter dan spesialisasi.',
        image: 'doctor.png'
      },
      bookingSection: {
        title: 'Buat Janji tanpa Ribet',
        description: 'Pilih waktu yang Anda inginkan dan tidak perlu lagi menghadapi permasalahan seperti harus menunggu, ketidakpastian jadwal dokter, dan jaringan telepon yang sibuk.',
        image: 'booking_online.png'
      },
      queueSection: {
        title: 'Pantau Antrian secara real-time',
        description: 'Anda dapat mencari Dokter dan Fasilitas Kesehatan yang paling sesuai dengan kebutuhan Anda berdasarkan lokasi, jenis penyakit, jam praktek dokter dan spesialisasi.',
        image: 'monitoring_queue.png'
      },
      downloadSection: {
        title: 'Temukan Dokter Terbaikmu',
        description: 'Temukan kemudahan dalam mencari dokter dan fasilitas kesehatan terbaik Anda.',
        image: 'download_apps.png'
        // downloadButton: {
        //   playStore: 'play_store.png',
        //   appStore: 'app_store.png'
        // }
      }
    }
  },
  computed: {
    ...mapGetters([
      'location',
      'doctor',
      'healthFacility'
    ]),
    selectedLocation: {
      get () {
        return this.location
      },
      set (value) {
        this.SET_LOCATION(value)
      }
    },
    selectedDoctor: {
      get () {
        return this.doctor
      },
      set (value) {
        this.SET_DOCTOR(value)
      }
    },
    selectedHealthFacility: {
      get () {
        return this.healthFacility
      },
      set (value) {
        this.SET_HEALTH_FACILITY(value)
      }
    },
    doctorDataTransform () {
      const listDoctor = this.doctorData.map((doctor) => {
        const doctorName = doctor.gelar_depan + ' ' + doctor.nama + ' ' + doctor.gelar_blk

        /* eslint-disable-next-line */
        const { ...rest } = doctor

        return {
          ...rest,
          doctorName
        }
      })

      const listSpecialization = this.specializationData

      return [
        listDoctor,
        listSpecialization
      ]
    }
    // ,
    // locationCity () {
    //   if (this.location) {
    //     return this.location.nama
    //   } else {
    //     return ''
    //   }
    // }
  },
  head () {
    return {
      title: 'MedUp - Cari Dokter, Fasilitas Kesehatan, Booking',
      meta: [
        { hid: 'description', name: 'description', content: 'Sehat Sekarang Bersama MedUp. MedUp memberikan solusi perawatan kesehatan dari hulu ke hilir serta memiliki visi untuk meningkatkan kualitas kesehatan di Indonesia.' }
      ]
    }
  },
  created () {
    // this.$refs.autocomplete.setSelected(this.locationCity)
    const setObjectNull = {}
    this.SET_LOCATION(setObjectNull)
    this.SET_DOCTOR(setObjectNull)
    this.SET_HEALTH_FACILITY(setObjectNull)
  },
  methods: {
    ...mapMutations([
      'SET_LOCATION',
      'SET_DOCTOR',
      'SET_HEALTH_FACILITY'
    ]),
    getLocation () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition)
      } else {
        /* eslint-disable-next-line */
        console.log('Geolocation is not supported by this browser.')
      }
    },
    showPosition (position) {
      this.lat = position.coords.latitude
      this.long = position.coords.longitude
    },
    searchDoctor () {
      this.$router.push({ path: '/search-doctor', query: { name: this.doctorName } })
    },
    searchHealthFacility () {
      this.$router.push({ path: '/search-health-facility', query: { nama: this.healthFacilityName } })
    },
    async getAsyncDataLocation (name) {
      if (!name.length) {
        this.locationData = []
      }
      this.isFetchingLocation = true
      const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
      try {
        const response = await axios({
          method: 'POST',
          url: api + '/suggestion/wilayah',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          data: {
            nama: name,
            limit: '10'
          }
        })
        this.locationData = response.data.data
        this.isFetchingLocation = false
      } catch (error) {
        this.isFetchingLocation = false
        this.locationData = []
        // eslint-disable-next-line
        console.log(error)
      }
    },
    async getAsyncDoctorData (name) {
      if (!name.length) {
        this.doctorData = []
        this.specializationData = []
      } else {
        try {
          this.isLoadingDoctorData = true
          const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
          const response = await axios({
            method: 'GET',
            url: api + '/suggestion/doctor',
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*'
            },
            params: {
              name,
              limit: 5
            }
          })
          this.doctorData = response.data.ListDoctor
          this.specializationData = response.data.ListSpesialis
          this.isLoadingDoctorData = false
          // eslint-disable-next-line
          console.log(response)
        } catch (error) {
          this.isLoadingDoctorData = false
          this.doctorData = []
          this.specializationData = []
          // eslint-disable-next-line
          console.log(error)
        }
      }
    },
    async getSuggestionHealthFacility (name) {
      if (!name.length) {
        this.healthFacilitySuggestionData = []
      } else {
        try {
          this.loadHealthFacilitySuggestion = true
          const api = `${'https://cors.medup.id/'}` + process.env.baseUrl
          const response = await axios({
            method: 'POST',
            url: api + '/web/search_faskes',
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*'
            },
            data: {
              nama: name
            }
          })
          this.healthFacilitySuggestionData = response.data.data.data
          this.loadHealthFacilitySuggestion = false
        } catch (error) {
          // eslint-disable-next-line
          console.log(error)
        }
      }
    },
    goToSpecialization (name) {
      this.selectedSpecialization = name
      this.doctorName = null
      this.$router.push({ path: '/search-doctor', query: { name: this.doctorName, specialization: this.selectedSpecialization } })
    }
  },
  middleware: [
    function ({ redirect }) {
      redirect('/messenger')
    }
  ]
}
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 0px 20px 40px #F1F8FC;
  border-radius: 20px;
}

.field {
  &.is-horizontal {
    .field {
       margin-right: 0.75rem;
     }
   }
 }

 .search-text {
   margin-right: 0.75rem;
   margin-top: -10px
 }
</style>
