<template>
  <div>
    <!-- Platform Messenger Intro section -->
    <section class="hero is-fullheight is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <h1 class="title is-1">
                {{ introMessengerSection.title }} <img :src="require(`@/assets/img/${introMessengerSection.icon}`)" alt="">
              </h1>
              <h5 class="subtitle is-5">
                {{ introMessengerSection.description }}
              </h5>
              <br>
              <a href="https://play.google.com/store/apps/details?id=com.medupmessenger" target="_blank">
                <img :src="require(`@/assets/img/play-store.png`)" class="btn-play-store" alt="">
              </a>
              <a href="https://apps.apple.com/id/app/medup-messenger/id1485671260" target="_blank">
                <img :src="require(`@/assets/img/app-store1.png`)" class="btn-app-store" alt="">
              </a>
            </div>
            <div class="column has-text-centered is-hidden-mobile is-absolute">
              <img :src="require(`@/assets/img/medup-messenger/${introMessengerSection.image}`)" class="intromess" alt="" width="35%;">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Platform Messenger Intro section -->
    <!-- Platform Messenger section -->
        <!--  eslint-disable-line-->
    <section class="hero is-medium satu">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/medup-messenger/${platformMessengerSection.image}`)" alt="">
            </div>
            <div class="column">
              <h1 class="title">
                {{ platformMessengerSection.title }}
              </h1>
              <p>
                {{ platformMessengerSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end Platform section -->
    <!--  cari messenger.vue section-->
    <section class="hero is-medium dua">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column">
              <h1 class="title">
                {{ cariMessengerSection.title }}
              </h1>
              <p>
                {{ cariMessengerSection.description }}
              </p>
            </div>
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/medup-messenger/${cariMessengerSection.image}`)" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  end cari messenger.vue section-->
    <!-- dukung messenger.vue section -->
        <!--  eslint-disable-line-->
    <section class="hero is-medium tiga">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/medup-messenger/${dukungMessengerSection.image}`)" alt="">
            </div>
            <div class="column">
              <h1 class="title">
                {{ dukungMessengerSection.title }}
              </h1>
              <p>
                {{ dukungMessengerSection.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end dukung messenger.vue section -->
    <!--  privasi messenger.vue section-->
    <section class="hero is-medium empat">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column">
              <h1 class="title">
                {{ privasiMessengerSection.title }}
              </h1>
              <p>
                {{ privasiMessengerSection.description }}
              </p>
            </div>
            <div class="column has-text-centered">
              <img :src="require(`@/assets/img/medup-messenger/${privasiMessengerSection.image}`)" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  end privasi messenger.vue section-->
  </div>
</template>

<script>
export default {
  name: 'Messenger',
  data () {
    return {
      introMessengerSection: {
        title: 'MedUp Messenger',
        description: 'Health Community Based Messenger',
        icon: 'icon-chat.png',
        image: 'intro.png'
      },
      platformMessengerSection: {
        title: 'Bicara dengan dokter, apoteker, dan perawat Anda kapan saja dalam satu platform!',
        description: 'Sekarang, Anda dapat terhubung dengan seluruh pekerja rumah sakit dan pasien lain hanya di ujung jari Anda. Mulailah obrolan dengan siapa saja di MedUp Messenger baik secara pribadi dengan dokter, perawat, atau apoteker, atau kelompok untuk saling mendukung pasien sehingga Anda bisa mendapatkan pengalaman yang baik untuk perawatan pendukung rumah sakit dan memulai diskusi dengan mereka dan membuat percakapan yang mendalam.',
        image: '1.png'
      },
      cariMessengerSection: {
        title: 'Cari apa saja dengan mudah!',
        description: 'Pencarian di MedUp Messenger cepat dan mudah. Dengan kemampuan pencarian dari MedUp Messenger, Anda dapat menemukan apa yang Anda cari, siapapun yang membagikannya kepada Anda atau kapan.',
        image: '2.png'
      },
      dukungMessengerSection: {
        title: 'Saling mendukung satu sama lain',
        description: 'Kamu tidak sendiri. Melalui MedUp Messenger, Anda dapat terhubung dengan pasien lain yang memiliki kondisi kesehatan serupa. Temukan teman baru untuk saling berbagi. Tambah wawasan Anda tentang kondisi kesehatan dari sumber yang dapat dipercaya dan berbasis ilmiah.',
        image: '3.png'
      },
      privasiMessengerSection: {
        title: 'Privasi Anda adalah prioritas kami!',
        description: 'Kami peduli dengan privasi Anda karena kami percaya Anda harus merasa percaya tentang bagaimana kami mengelola informasi pribadi Anda. Setiap pesan yang dikirim ke obrolan dijamin dengan enkripsi end-to-end, yang berarti pihak ketiga tidak dapat membacanya dan juga tidak ada tangkapan layar yang tersedia di MedUp Messenger.',
        image: '4.png'
      }
    }
  },
  head () {
    return {
      title: 'MedUp Messenger - MedUp',
      meta: [
        { hid: 'description', name: 'description', content: 'Health Community Based Messanger.' }
      ]
    }
  }
}
</script>
<style scoped lang="scss">
  .intromess{
    position: absolute;
    right: 100px;
    top: -100px;
  }
  .platfm{
    position: absolute;
    left: -30px;
    bottom: -100px;
  }
  .satu {
    background: #FAFAFA;
  }
  .tiga {
    background: #FAFAFA;
  }
  img {
  &.btn-play-store {
     height: 44px;
     margin-right: 0.5em;
   }
  &.btn-app-store {
     height: 45px;
     width: 150px;
    margin-bottom: -0.1em;
   }
  }

</style>
