<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-hidden-mobile">
            <aside v-if="scrolled" class="menu">
              <p class="menu-label">
                <!-- Syarat dan Ketentuan -->
              </p>
              <ul class="menu-list">
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#kebijakan-privasi'}">
                    Kebijakan Privasi
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#informasi-identitas-pribadi'}">
                    Informasi Identitas Pribadi
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#penggunaan-informasi'}">
                    Peggunaan Informasi
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#ketentuan-privasi'}">
                    Ketentuan Privasi
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#keamanan'}">
                    Keamanan
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#tautan-ke-situs-web-lain'}">
                    Tautan ke Situs Web Lain
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#batasan-usia'}">
                    Batasan Usia
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#pemberitahuan'}">
                    Pemberitahuan
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link :to="{ path: '/privacy-policy', hash: '#penutup'}">
                    Penutup
                  </nuxt-link>
                </li>
              </ul>
            </aside>
          </div>
          <div class="column is-8">
            <div id="kebijakan-privasi">
              <h1 class="title has-text-centered">
                Kebijakan Privasi
              </h1>
              <p>Terima kasih untuk menggunakan layanan yang disediakan. Kebijakan privasi ini (“Kebijakan Privasi”) akan menjelaskan bagaimana PT Loka Kreasi Teknologi dan setiap anak perusahaan serta perusahaan afiliasinya (“Kami”), memperoleh, mengumpulkan, menggunakan, menampilkan, mengumumkan, mengungkapkan, memproses, membukakan akses, menyimpan, mengirim, memberi, mengalihkan, mengolah, mengelola, memusnahkan dan melindungi informasi dan data pribadi yang anda sebagai pengguna (“Anda”) Platform (sebagaimana didefinisikan di bawah) berikan sebagaimana diminta maupun pada saat menggunakan Platform (“Data Pribadi”). Perlu dicatat bahwa Data Pribadi di sini tidak termasuk Data Pribadi yang telah tersedia di domain publik.</p>
              <p>Kebijakan Privasi ini dapat diperbarui dari waktu ke waktu. Kami akan memberi tahu Pengguna, tentang perubahan apapun dengan memposting pemberitahuan pada halaman ini. Penggunaan platform kami yang berkelanjutan merupakan penerimaan Pengguna terhadap perubahan ini.</p>
              <p>Dengan menggunakan pelayanan, Pengguna dianggap telah setuju dan menerima terhadap praktek dan kebijakan yang dikeluarkan pada Kebijakan Privasi ini dan dengan ini, Pengguna berada didalam pengumpulan, penggunaaan, dan berbagi informasi Pengguna sebagaimana dijelaskan didalam Kebijakan Privasi ini. Jika Pengguna tidak setuju dengan Kebijakan Privasi ini, maka Pengguna tidak bisa menggunakan layanan. Jika Pengguna menggunakan layanan atas nama orang lain (seperti Anak, Kerabat atau Teman Pengguna), Pengguna menyatakan bahwa Pengguna ditetapkan oleh Individu tersebut untuk menerima Kebijakan Privasi ini terhadap bentuk individu tersebut.</p>
            </div>
            <div id="informasi-identitas-pribadi">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Informasi Identitas Pribadi
              </h1>
              <ol>
                <li>Kami dapat meminta informasi identitas pribadi Pengguna ketika menggunakan platform kami. Informasi ini termasuk, namun tidak terbatas pada, nama, nama pengguna (username), nomor telepon, alamat surat elektronik, alamat, informasi yang Pengguna masukkan tentang teman dan kerabat Pengguna (untuk memungkinkan mereka memanfaatkan layanan tersebut), data demografis (seperti jenis kelamin, umur, dan tempat tinggal), data medis (seperti tinggi badan, berat badan dan kondisi medis Pengguna) atau informasi lainnya yang dapat Pengguna pilih untuk dibagikan kepada kami. Kami juga dapat mengumpulkan informasi yang Pengguna berikan kepada kami mengenai preferensi dan minat pribadi Pengguna.   </li>
                <li>Pengguna dapat memilih untuk tidak memberikan kami informasi pribadi apapun, namun fitur yang memerlukan informasi pribadi tidak akan dapat Pengguna akses.</li>
                <li>Pengguna memberikan hak kepada MedUp untuk menyimpan serta menampilkannya dalam akun Pengguna serta dalam data MedUp. Kerahasiaan data Pengguna terjamin dan akan digunakan hanya untuk keperluan interaksi dengan Dokter yang dilakukan melalui MedUp.</li>
                <li>Pengguna memberikan hak kepada MedUp untuk merekam atau menyimpan segala bentuk interaksi atau komunikasi antara Dokter ataupun Fasilitas Kesehatan dengan Pengguna secara otomatis. Semua data yang disimpan oleh MedUp yang berasal dari interaksi ataupun komunikasi antara Dokter ataupun Fasilitas Kesehatan dengan Pengguna akan digunakan oleh MedUp semata-mata untuk keperluan legal dan peningkatan kualitas pelayanan medis MedUp. MedUp menjamin kerahasiaan data Pengguna dan semua data tidak akan disebarluaskan dengan sengaja oleh MedUp.</li>
              </ol>
            </div>
            <div id="penggunaan-informasi">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Penggunaan Informasi
              </h1>
              <p>MedUp dapat menggunakan informasi yang diberikan pengguna untuk :</p>
              <ol>
                <li>Memungkinkan Pengguna mengakses pelayanan di platform kami. </li>
                <li>Memberi Pengguna, layanan dan informasi sesuai dengan preferensi Pengguna termasuk dan tidak terbatas pada, email promosi dan pesan, artikel, produk dan layanan yang menurut kami mungkin menarik bagi Pengguna dan menghubungi Pengguna bila perlu (seperti mengingatkan Pengguna dari Janji dengan penyedia layanan kesehatan).</li>
                <li>Mengelola MedUp untuk operasional internal, termasuk di dalamnya untuk tujuan penyelesaian masalah, analisa data, keperluan statistik dan survey.</li>
                <li>Mengembangkan MedUp untuk memastikan bahwa konten ditampilkan dengan cara yang paling efektif bagi Pengguna.</li>
                <li>Mengizinkan Pengguna untuk berpartisipasi dalam fitur-fitur interaktif dari layanan MedUp, sesuai dengan keinginan Pengguna.</li>
                <li>Tujuan lain seperti penelitian dimana nama Pengguna untuk data tersebut akan disamarkan atau ditiadakan (anonim).</li>
                <li>Sebagai bagian dari usaha untuk tetap membuat MedUp aman dan terjamin kualitasnya, serta membuat saran dan rekomendasi kepada Pengguna tentang layanan yang mungkin menarik bagi Pengguna.</li>
                <li>Kami dapat membuka informasi pribadi Pengguna atau informasi lainnya jika kami memutuskan dengan itikad baik bahwa pengungkapan tersebut diwajibkan oleh hukum, sebagai tanggapan terhadap klaim hukum; diperlukan untuk melindungi dan membela hak-hak kami, properti, atau kepentingan yang sah; diperlukan untuk melindungi keamanan pribadi kami, hak milik atau hak-hak lain dan orang-orang dari pelanggan atau karyawan kami; atau bagian integral dari penjualan semua atau sebagian dari bisnis kami. Kami tidak akan menjual informasi pribadi Pengguna kepada pihak ketiga.</li>
                <li>
                  Informasi yang secara otomatis diambil oleh MedUp adalah sebagai berikut :
                  <ol type="a">
                    <li>Informasi teknis, termasuk di dalamnya alamat Internet Protocol (IP address) yang digunakan oleh ponsel ataupun peralatan lainnya untuk mengakses platform MedUp, informasi login, jenis dan versi dari sistem operasi (operating system), zona waktu, lokasi; dan</li>
                    <li>Informasi kunjungan Pengguna, termasuk di dalamnya produk dan jasa yang dilihat atau digunakan, waktu respon, informasi interaksi dan nomor telepon yang digunakan untuk oleh Pengguna.</li>
                  </ol>
                </li>
                <li>Memberikan informasi kepada pihak lain yang terkait seperti rekanan Dokter dan/atau Penyedia Jasa Kesehatan lainnya dalam rangka penyediaan produk dan layanan kepada Pengguna.</li>
                <li>Proses pembayaran Pengguna untuk produk dan layanan.</li>
                <li>Meninjau dan meningkatkan kualitas produk dan layanan MedUp, termasuk di dalamnya pemantauan kepatuhan pada standar layanan klinis.</li>
                <li>Membuat pengungkapan yang diperlukan atau berhubungan dengan permintaan beralasan dari badan pembuat regulasi termasuk di dalamnya Konsil Kedokteran Indonesia atau badan lain yang diperlukan untuk keperluan hukum dan/atau regulasi.</li>
                <li>Sesuai dengan permintaan dan/atau persetujuan Pengguna untuk keperluan asuransi yang berkaitan dengan produk atau layanan yang diberikan;</li>
                <li>Sesuai dengan permintaan Pengguna untuk memberikan informasi tersebut kepada fasilitas pelayanan kesehatan lain yang terkait dengan Pengguna, termasuk di dalamnya apabila Pengguna harus dirujuk ke fasilitas pelayanan kesehatan tersebut;</li>
                <li>Membantu dalam pendeteksian penipuan.</li>
              </ol>
            </div>
            <div id="ketentuan-privasi">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Ketentuan Privasi
              </h1>
              <ol>
                <li>Kami dapat membagikan informasi pribadi Pengguna dengan penyedia layanan kesehatan yang Pengguna jadwalkan janji untuk mengunjungi atau dalam keadaan darurat.</li>
                <li>Kami berhak untuk membatasi atau menghentikan penggunaan Platform MedUp jika kami memiliki alasan untuk mencurigai bahwa Pengguna telah melanggar ketentuan dalam Perjanjian ini, Syarat dan Ketentuan MedUp, atau peraturan perundang-undangan yang berlaku.</li>
                <li>Jika sebagian atau seluruh aset MedUp diakuisisi oleh pihak ketiga, data yang dimiliki oleh MedUp menjadi salah satu bagian dari aset yang akan diserahkan.</li>
                <li>MedUp dapat membuka informasi pribadi jika MedUp berada dalam kewajiban untuk membuka informasi pribadi Pengguna untuk kepatuhan dan kebutuhan hukum, untuk melaksanakan kesepakatan lain, atau untuk melindungi hak dan keamanan MedUp dan Pengguna.</li>
              </ol>
            </div>
            <div id="keamanan">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Keamanan
              </h1>
              <p>
                Kami akan melakukan segala upaya untuk memastikan keamanan dan melindungi data Pengguna sesuai dengan standar industri. Kami menjamin kerahasiaan data Pengguna dan semua data tidak akan disebarluaskan dengan sengaja oleh kami. Kami akan mengambil tindakan yang tepat, konsisten dengan praktik industri, untuk melindungi informasi yang dikumpulkan, untuk mencegah akses yang tidak sah, menjaga keakuratan data dan memastikan penggunaan informasi yang benar.
              </p>
            </div>
            <div id="tautan-ke-situs-web-lain">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Tautan ke Situs Web Lain
              </h1>
              <p>
                Situs Web dan / atau Aplikasi dapat memuat tautan ke situs web lain yang mana MedUp tidak memiliki afiliasi. Kami tidak mendukung situs web pihak ketiga tersebut, kualitas atau keakuratan informasi di situs web itu maupun orang atau entitas yang terkait dengan situs web itu. Jika Pengguna memutuskan untuk mengunjungi situs web pihak ketiga, Pengguna tunduk pada kebijakan privasi situs web dan ketentuan penggunaannya. Kami mendorong Pengguna untuk membaca kebijakan privasi dan ketentuan penggunaan mereka sebelum Pengguna menggunakan situs web pihak ketiga.
              </p>
            </div>
            <div id="batasan-usia">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Batasan Usia
              </h1>
              <p>
                Platform dan layanan kami tidak dimaksudkan untuk digunakan oleh anak-anak (siapa pun yang berusia di bawah 18 tahun) Dan anak-anak dilarang menggunakan layanan kami. Jika ada orang tua atau wali yang mengetahui bahwa anak mereka telah menggunakan layanan kami, dia harus menghubungi kami di contact@medup.id dan kami akan menghapus informasi tersebut kecuali persetujuan dari orang tua atau wali diberikan.
              </p>
            </div>
            <div id="pemberitahuan">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Pemberitahuan
              </h1>
              <p>
                Segala bentuk pemberitahuan, permintaan informasi atau komunikasi kepada atau tentang MedUp akan dianggap diterima oleh MedUp jika telah dibuat secara tertulis dan dikirimkan ke alamat MedUp melalui kurir atau surat tercatat di :
              </p>
              <p>
                MedUp Office <br>
                Jl. Griya Petinggen, Karangwaru, Tegalrejo, Yogyakarta, 55241 <br>
                +62 8522 5405 465 <br>
                contact@medup.id
              </p>
              <p>
                Segala bentuk pemberitahuan, permintaan informasi atau komunikasi kepada atau tentang Pengguna akan dianggap telah diterima oleh Pengguna jika: MedUp mengirimkan e-mail atau surat elektronik atau surat tertulis kepada Pengguna melalui alamat yang dicantumkan oleh Pengguna dalam akun Pengguna di MedUp; atau Jika dianggap diperlukan oleh MedUp, MedUp memasang pengumuman baik yang bisa diakses secara umum ataupun terbatas di MedUp.
              </p>
            </div>
            <div id="penutup">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                Penutup
              </h1>
              <ol id="last-content">
                <li>Penggunaan dan akses ke MedUp diatur oleh Syarat dan Ketentuan serta Kebijakan Privasi Kami. Dengan mengakses atau menggunakan MedUp, berarti Anda telah memahami dan menyetujui serta terikat dan tunduk dengan segala syarat dan ketentuan yang berlaku di Situs ini.</li>
                <li>Hubungan antara MedUp dan Pengguna merupakan suatu hubungan independen dan tidak memiliki hubungan keagenan, kemitraan, usaha patungan, karyawan-perusahaan atau pemilik waralaba-pewaralaba yang akan dibuat atau dibuat dengan adanya Perjanjian ini.</li>
                <li>Judul di dalam Ketentuan ini dibuat hanya sebagai acuan, dan sama sekali tidak menetapkan, membatasi, menjelaskan atau menjabarkan apa yang termaktub dalam ketentuan tersebut.</li>
                <li>MedUp memiliki hak untuk menginvestigasi dan menuntut hak untuk setiap pelanggaran atas Perjanjian ini sepanjang yang dimungkinkan dan diperkenankan oleh hukum.</li>
                <li>Pengguna dengan ini mengakui bahwa MedUp memiliki hak untuk memonitor akses penggunaan MedUp untuk memastikan kepatuhan Para Pihak (MedUp dan Pengguna) atas Perjanjian ini, atau untuk mematuhi peraturan yang berlaku atau perintah atau persyaratan dari pengadilan, lembaga administratif atau badan pemerintahan lainnya di Republik Indonesia.</li>
                <li>Apabila terdapat 1 (satu) atau lebih ketentuan di dalam Perjanjian ini yang dinyatakan tidak berlaku, melawan hukum atau tidak dapat dilaksanakan berdasarkan ketentuan perundang-undangan yang berlaku di Republik Indonesia maka keadaan tersebut tidak akan mempengaruhi keberlakuan ketentuan-ketentuan lain dalam Perjanjian ini. Dalam hal terjadi keadaan tersebut, Para Pihak berjanji untuk tetap berusaha memenuhi segala ketentuan yang terdapat di dalam Perjanjian ini.</li>
                <li>Segala sengketa yang berkaitan dengan Perjanjian ini, akan pertama-tama diselesaikan secara musyawarah untuk mufakat oleh Para Pihak. Dalam hal penyelesaian secara musyawarah untuk mufakat tidak dapat dilakukan, Para Pihak memutuskan untuk menyelesaikan konflik yang terjadi melalui Badan Arbitrase Nasional Indonesia (BANI) sesuai dengan prosedur yang berlaku di BANI.</li>
                <li>Perjanjian ini diatur, ditafsirkan, serta dilaksanakan berdasarkan hukum yang berlaku di Republik Indonesia dan Para Pihak diwajibkan untuk tunduk kepada semua peraturan yang berlaku di Indonesia.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      scrolled: true
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      this.scrolled = window.scrollY < document.getElementById('last-content').offsetTop
      // eslint-disable-next-line
                console.log(this.scrolled)
    }
  }
}
</script>

<style lang="scss" scoped>
    aside {
        position: fixed;
    }
    ol {
        margin-left: 30px;
    }
    .nuxt-link-active {
        background-color: #2691d4;
        color: white;
    }
</style>
