<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-hidden-mobile">
            <aside v-if="scrolled" class="menu">
              <p class="menu-label">
                <!-- Syarat dan Ketentuan -->
              </p>
              <ul class="menu-list">
                <li>
                  <nuxt-link to="/term-of-service#syarat-dan-ketentuan">
                    Syarat dan Ketentuan
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#ketentuan-umum">
                    Ketentuan Umum
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#definisi-dan-interpretasi">
                    Definisi dan Interpretasi
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#penggunaan-layanan-dan-jasa">
                    Penggunaan Layanan dan Jasa
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#pendaftaran">
                    Pendaftaran
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#penggunaan-aplikasi">
                    Penggunaan Aplikasi
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#syarat-penggunaan-untuk-pasien">
                    Syarat Penggunaan untuk Pasien
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#syarat-penggunaan-untuk-tenaga-medis">
                    Syarat Penggunaan untuk Tenaga Medis
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#hak-kekayaan-intelektual">
                    Hak Kekayaan Intelektual
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#tautan-situs-lainnya">
                    Tautan Situs Lainnya
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#keamanan-platform">
                    Keamanan Platform
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#saran-dan-komentar">
                    Saran dan Komentar
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/term-of-service#penutup">
                    Penutup
                  </nuxt-link>
                </li>
              </ul>
            </aside>
          </div>
          <div class="column is-8">
            <div id="syarat-dan-ketentuan">
              <h1 class="title has-text-centered">
                Syarat dan Ketentuan
              </h1>
              <span><h5 class="title is-5">MedUp</h5></span>
              <h5 class="title is-5">
                PT. Loka Kreasi Teknologi
              </h5>
              <h6 class="title is-6 is-italic">
                Last Update : 25 Desember 2019
              </h6>
              <p class="has-text-justified">
                Terimakasih telah menggunakan aplikasi atau situs MedUp (www.medup.id) yang dikelola langsung oleh PT. Loka Kreasi Teknologi. Syarat dan Ketentuan ini menjelaskan hak dan tanggung jawab Anda ( tiap orang yang mengakses dan menggunakan layanan dan jasa yang disediakan oleh Kami) dalam menggunakan MedUp.
              </p>
              <br>
              <p class="has-text-justified">
                MedUp adalah sebuah platform yang bertujuan untuk menghubungkan pasien dan tenaga rumah sakit melalui layanan pesan dengan terintegrasi dan kolaboratif. Syarat dan ketentuan serta kebijakan privasi dibuat sebagai perjanjian antara Anda dengan MedUp sebagai pengguna terdaftar maupun tidak terdaftar.
              </p>
              <br>
              <p class="has-text-justified has-text-weight-bold">
                Persyaratan ini harap dibaca dengan seksama. Dengan mengunduh dan/atau memasang dan/atau menggunakan layanan ini dan / atau mendaftar dengan kami, Anda setuju bahwa Anda telah membaca dengan ketentuan perjanjian ini, termasuk praktik informasi yang diungkapkan dalam kebijakan privasi kami. Jika Anda tidak setuju dengan persyaratan ini, maka Anda tidak bisa menggunakan platform ini atau layanannya. Jika Anda awalnya menyetujui persyaratan ini tetapi kemudian memutuskan untuk menarik persetujuan Anda, Anda harus segera memberitahu kami.
              </p>
              <br>
              <p class="has-text-justified">
                Kami berhak untuk mengubah salah satu syarat dan ketentuan ini kapan saja atas kebijaksanaan kami. Kami akan memberi tahu Anda tentang setiap revisi dengan pemberitahuan yang diposting di situs web ini dengan tanggal efektif. Penggunaan Anda yang berkelanjutan atas platform dan layanan kami merupakan penerimaan Anda terhadap syarat dan ketentuan yang direvisi.
              </p>
              <br>
            </div>
            <div id="ketentuan-umum" class="has-text-justified">
              <h1 class="subtitle has-text-weight-bold">
                KETENTUAN UMUM
              </h1>
              <ol type="a">
                <li style="padding-right: 15px">
                  Platform adalah aplikasi (versi Android atau iOS), aplikasi web (aplikasi yang dapat diakses menggunakan web), website yang dikelola oleh Kami sebagaimana diperbarui dari waktu ke waktu.
                </li>
                <li>
                  Koneksi internet diperlukan untuk dapat menggunakan Layanan. Segala biaya yang timbul atas koneksi perangkat elektronik Anda dengan jaringan internet merupakan tanggung jawab Anda sepenuhnya.
                </li>
                <li>
                  Platform berfungsi sebagai sarana untuk menghubungkan Anda dengan pasien lain, dan tenaga medis di dalam rumah sakit (“Penyedia Layanan”).
                </li>
                <li>
                  Jenis layanan yang dapat digunakan melalui Platform adalah:
                  <ol type="a">
                    <li>Layanan Pesan (MedUp Messenger);</li>
                    <li>
                      Layanan lain yang dapat kami tambahkan dari waktu ke waktu,
                      (“Layanan”).
                    </li>
                  </ol>
                </li>
                <li>
                  Untuk menghindari keraguan, Kami bukan merupakan penyelenggara pelayanan kesehatan, apotek, maupun tempat penyelenggaraan praktik medis. Kami tidak mempekerjakan Penyedia Layanan dan Kami tidak bertanggung jawab atas setiap tindakan dan/atau kelalaian dari Penyedia Layanan. Platform ini hanya merupakan sarana penghubung antara tenaga medis dan pasien di rumah sakit.
                </li>
                <li>
                  Kami tidak menggantikan peran dan tugas tenaga medis dan/atau fasilitas kesehatan yang biasanya berurusan dengan Anda. Kami juga tidak menggantikan fungsi konsultasi tatap muka di rumah sakit secara langsung. Kami hanya sebagai penghubung antara tenaga medis dan pasien di rumah sakit.
                </li>
                <li>
                  Tenaga medis di platform MedUp mempunyai hak untuk menolak memberikan saran, ketika keluhan Anda dinilai sebagai kondisi gawat darurat dan juga ketika di mana ada potensi penyalahgunaan layanan.
                </li>
                <li>
                  Kami dapat menggunakan jasa pihak ketiga terkait penyediaan layanan pembayaran. Karena itu segala bentuk kegagalan sistem terkait yang disebabkan hal yang di luar kendali Kami terkait dengan layanan pembayaran yang disediakan pihak ketiga adalah di luar tanggung jawab Kami. Namun demikian, Kami akan berupaya maksimal untuk membantu menyelesaikan masalah yang mungkin timbul. Penyedia jasa perbankan/pembayaran yang dipilih oleh Anda dapat mengenakan biaya tambahan kepada Anda atas layanan yang diberikan.
                </li>
                <li>
                  Kami berhak sewaktu-waktu mengubah, menghapus, mengurangi, menambah dan/atau memperbarui fitur atau fasilitas dalam Platform. Pemakaian Anda yang berkelanjutan terhadap Platform akan dianggap sebagai persetujuan kepada perubahan, penghapusan, pengurangan, penambahan dan/atau pembaruan fitur atau fasilitas Platform.
                </li>
                <li>
                  Kerahasiaan data Anda terjamin dan akan digunakan oleh Kami dan/atau Penyedia Layanan untuk keperluan interaksi dengan tenaga medis di rumah sakit dan keperluan layanan-layanan lain yang dilakukan di dalam Platform dan/atau tujuan lain yang telah Anda setujui sesuai dengan ketentuan perundang-undangan yang berlaku dan Kebijakan Privasi.
                </li>
                <li>
                  Anda memahami dan menyetujui bahwa percakapan Anda dengan tenaga medis dan pasien lain dalam Platform akan tersimpan secara otomatis dan diarsipkan untuk keperluan legal dan peningkatan kualitas pelayanan Kami. Dengan menggunakan Platform, Anda mengetahui bahwa percakapan melalui fitur video call, voice call maupun chat akan direkam dan Anda bersedia untuk direkam. Kerahasiaan percakapan Anda terjamin dan informasi tidak akan disebarluaskan.
                </li>
                <li>
                  Anda memahami dan menyetujui bahwa percakapan Anda dengan customer service Kami akan tersimpan secara otomatis dan diarsipkan untuk keperluan legal dan peningkatan kualitas pelayanan Kami. Kerahasiaan percakapan Anda terjamin dan informasi tidak akan disebarluaskan.
                </li>
                <li>
                  Kami berhak untuk tidak memproses registrasi, membatasi atau menghentikan penggunaan Platform Anda jika Kami memiliki alasan untuk mencurigai bahwa Anda telah melanggar ketentuan dari Ketentuan Penggunaan ini atau peraturan perundang-undangan yang berlaku.
                </li>
              </ol>
            </div>
            <div id="definisi-dan-interpretasi" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                DEFINISI DAN INTERPRETASI
              </h1>
              <p>Istilah-istilah berikut ini digunakan secara teratur pada seluruh Syarat dan Ketentuan layanan ini dan memiliki arti tertentu :</p>
              <br>
              <ol>
                <li>
                  <span class="has-text-weight-bold">“Kami”</span> atau <span class="has-text-weight-bold">“MedUp”</span>, berarti adalah pemilik, pengembang dan pengelola situs
                  <a href="https://www.medup.id">www.medup.id</a> dan berbagai produk MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Anda”</span> berarti setiap orang yang mengakses dan menggunakan layanan dan jasa yang disediakan oleh MedUp
                </li>
                <li>
                  <span class="has-text-weight-bold">“Perjanjian”</span> berarti Syarat dan Ketentuan layanan ini dan setiap lampirannya sebagaimana diubah, disesuaikan, dimodifikasi atau ditambahkan oleh para pihak berdasarkan kesepakatan secara tertulis dari waktu ke waktu;
                </li>
                <li>
                  <span class="has-text-weight-bold">“Pengguna”</span>, merupakan individu yang memiliki hak untuk mengadakan perjanijan terikat berdasarkan hukum Republik Indonesia untuk menggunakan layanan dan jasa yang disediakan oleh Kami, dan telah berusia minimal 18 tahun atau sudah menikah dan tidak berada dibawah perwalian, termasuk diantaranya Pengguna Terdaftar dan Pengguna Belum Terdaftar.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Akun”</span> berarti akun Pengguna yang terdaftar pada platform MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Pengguna Terdaftar”</span> berarti seseorang yang berwenang untuk menggunakan Akun Pengguna.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Layanan”</span>, berarti setiap dan semua jasa serta informasi yang terdapat pada platform MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Penyedia Layanan Kesehatan”</span>, adalah para Dokter, Rumah Sakit, Klinik, ataupun fasilitas kesehatan lainnya sebagaimana yang diatur dan diakui oleh peraturan perundang-undangan mengenai kesehatan di Indonesia.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Platform”</span> atau <span class="has-text-weight-bold">“Aplikasi”</span> atau <span class="has-text-weight-bold">"Situs"</span> berarti segala produk di bidang teknologi informasi yang dikelola dan dikembangkan oleh MedUp, termasuk namun tidak terbatas pada segala bentuk fitur, layanan, konten, ataupun informasi yang terdapat dalam aplikasi dan situs MedUp. Penamaan fitur, layanan, konten, ataupun informasi yang ada dalam aplikasi ataupun situs MedUp sebagaimana disebutkan didalam Perjanjian ini dapat berubah dari waktu ke waktu, berdasarkan keputusan internal MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">"Tenaga Medis"</span> merupakan semua (a) tenaga medis baik umum maupun spesialis,(b) apoteker, (c) perawat, (d) dan/atau tenaga medis lainnya di rumah sakit yang terdaftar atau ditampilkan didalam aplikasi MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Profil”</span> berarti data pribadi yang digunakan oleh Pengguna, dan menjadi informasi dasar bagi Pengguna.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Informasi Pribadi”</span>, berarti setiap dan seluruh data pribadi yang diberikan oleh Pengguna, termasuk namun tidak terbatas pada nama, data kesehatan, lokasi pengguna, kontak pengguna, serta data dan dokumen lain sebagaimana diminta pada formulir pendaftaran akun atau formulir lain pada saat menggunakan platform atau aplikasi MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">“Konten”</span> berarti data, informasi, angka, gambar, grafik, teks, foto, video, audio, nama pengguna, informasi, aplikasi, tautan, komentar, rating, desain, ataupun materi lain yang ditampilkan di platform MedUp.
                </li>
                <li>
                  <span class="has-text-weight-bold">"Hak Kekayaan Intelektual"</span> adalah semua Hak Kekayaan Intelektual, termasuk namun tidak terbatas pada ha katas paten, hak dalam tata letak sirkuit, rahasia dagang, merek jasa, nama dagang, desain terdaftar, hak cipta, dan bentuk kekayaan intelektual atau kekayaan industrial lainnya, pengetahuan, penemuan, rumusan, proses rahasia atau terbatas, dan setiap hak dan asset yang dilindungi lainnya dan setiap lisensi dan perizinan sehubungan dengannya, yang dapat tiap-tiap halnya di seluruh bagian dunia dan baik yang terdaftar maupun tidak terdaftar atay yang dapat didaftarkan maupun tidak dan selama jangka waktu sepenuhnya, dan semua perpanjangan dan pembaharuannya, dan semua permohonan pendaftaran sehubungan dengan yang disebutkan sebelumnya;
                </li>
                <li>
                  <span class="has-text-weight-bold">"Messenger"</span> atau <span class="has-text-weight-bold">Layanan Pesanan</span> berarti layanan yang diberikan kepada pasien dan tenaga medis untuk saling berkomunikasi melalui teks, gambar, video, dokumen, lokasi dan audio.
                </li>
                <li>
                  <span class="has-text-weight-bold">"Pesan"</span> berarti semua hal yang dikomunikasikan oleh pasien dan tenaga medis di dalam Messenger atau Layanan Pesan baik berupa teks, gambar, video, dokumen, lokasi dan audio.
                </li>
              </ol>
            </div>
            <div id="penggunaan-layanan-dan-jasa" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                PENGGUNAAN LAYANAN DAN JASA
              </h1>
              <p>
                Dengan Anda melanjutkan penggunaan atau pengaksesan MedUp, berarti Anda telah menyatakan serta menjamin kepada Kami bahwa:
              </p>
              <br>
              <ol type="a">
                <li>
                  Anda hanya diperkenankan untuk mengakses dan/atau menggunakan MedUp untuk keperluan pribadi dan non-komersil, yang berarti bahwa MedUp hanya boleh diakses dan digunakan secara langsung oleh Pengguna. Akses dan penggunaan MedUp diluar dari keperluan pribadi atau non-komersil dilarang keras, dan melanggar Syarat dan Ketentuan ini.
                </li>
                <li>
                  Anda tidak diperkenankan untuk, serta berjanji untuk tidak melakukan hal-hal berikut ini :
                  <ol>
                    <br>
                    <li>Mengalihkan akun Pengguna di MedUp kepada pihak ketiga lainnya tanpa persetujuan tertulis MedUp.</li>
                    <li>Menyebarkan virus, spam atau teknologi sejenis lainnya yang dapat merusak dan/atau merugikan MedUp dan/atau Pengguna lainnya.</li>
                    <li>Menyakiti, menyiksa, mempermalukan, memfitnah, mencemarkan nama baik, mengancam, mengintimidasi atau mengganggu orang atau bisnis lain, atau apapun yang melanggar privasi atau yang Kami anggap cabul, menghina, penuh kebencian, tidak senonoh, tidak patut, tidak pantas, tidak dapat diterima, mendiskriminasikan atau merusak.</li>
                    <li>Menggunakan MedUp untuk tujuan pelanggaran hukum, tindakan penipuan atau tindakan komersil.</li>
                    <li>Menggunakan MedUp untuk mendistribusikan iklan atau materi lainnya yang tidak diinginkan atau diizinkan oleh MedUp.</li>
                    <li>Melanggar atau menyalahi hak orang lain, termasuk tanpa kecuali: hak paten, merek dagang, hak cipta, rahasia dagang, publisitas, dan hak milik lainnya.</li>
                    <li>Membuat, memeriksa, memperbarui, mengubah atau memperbaiki database, rekaman atau direktori Anda ataupun orang lain.</li>
                    <li>Mengambil atau mengumpulkan data pribadi dari Pengguna lain, termasuk namun tidak terbatas pada alamat e-mail, tanpa persetujuan Pengguna tersebut.</li>
                    <li>Memasukkan atau memindahkan fitur pada MedUp tanpa persetujuan tertulis dari MedUp.</li>
                    <li>Menempatkan informasi atau aplikasi lain yang melanggar hak kekayaan intelektual pihak ketiga lainnya di dalam MedUp.</li>
                    <li>Mengubah atau mengatur ulang bagian apapun dalam MedUp yang akan mengganggu atau menaruh beban berlebihan pada sistem komunikasi dan teknis kami.</li>
                    <li>Mengunakan kode computer otomatis, proses, program, robot, net crawler, spider, pemrosesan data, trawling atau kode computer, proses, program atau sistem ‘screen scraping’ alternatif.</li>
                    <li>Melanggar Syarat dan Ketentuan, atau petunjuk lainnya yang ada pada MedUp.</li>
                    <br>
                  </ol>
                </li>
                <li>
                  Kami tidak bertanggung jawab atas cidera, kematian atau kerugian langsung maupun tidak langsung, materiil maupun immateriil yang timbul dari pemakaian MedUp oleh Pengguna, atau atas klaim apapun yang terkait dengan pemakaian Aplikasi oleh Pengguna.
                </li>
                <li>
                  Kami tidak bertanggung jawab atas cidera, kematian atau kerugian langsung maupun tidak langsung yang disebabkan oleh interaksi atau komunikasi antara Tenaga medis dengan Pengguna. MedUp juga tidak bertanggung jawab atas kesalahan atau tindakan kriminal yang dilakukan oleh para Tenaga medis selama pemberian jasa atau layanan melalui MedUp. Dalam hal ini, MedUp hanyalah penghubungn komunikasi antara tenaga medis dan pasien.
                </li>
                <li>
                  Kami tidak bertanggung jawab atas kehilangan atau kerusakan yang diluar perkiraan saat Pengguna mengakses atau menggunakan MedUp. Ini termasuk kehilangan penghematan yang diharapkan, kerugian finansial atau fisik karena adanya kesalahan dalam pengambilan tindakan medis oleh Penyedia Layanan Kesehatan atau kehilangan atau kerusakan dalam bentuk apapun yang Anda harus alami akibat penggunaan MedUp.
                </li>
              </ol>
            </div>
            <div id="pendaftaran">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                PENDAFTARAN
              </h1>
              <p>
                Pengguna harus mendaftarkan akun atau didaftarkan dan diundang pihak rumah sakit di MedUp untuk menggunakan MedUp. Kami dapat menetapkan persyaratan pendaftaran apapun dalam kebijakan mutlaknya.
              </p>
            </div>
            <div id="penggunaan-aplikasi" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                PENGGUNAAN APLIKASI
              </h1>
              <p>Terdapat beberapa fitur MedUp yang termasuk namun tidak terbatas pada :</p>
              <br>
              <ol>
                <li>
                  MedUp Messenger (Layanan Pesan)
                  <p>Layanan MedUp Messenger adalah layanan yang diberikan kepada pasien dan tenaga medis rumah sakit untuk saling berinteraksi dan berkomunikasi melalui teks, video, gambar, dokumen, lokasi dan audio. Dengan menggunakan layanan MedUp Messenger, pengguna menyatakan serta berjanji bahwa :</p>
                  <ol type="a">
                    <li>
                      Layanan ini tidak digunakan dalam kondisi gawat darurat, termasuk tetapi tidak terbatas pada kondisi medis apa pun yang membutuhkan penanganan cepat atau pemeriksaan fisik oleh tenaga medis;
                    </li>
                    <li>
                      Layanan ini tidak boleh dianggap dapat menggantikan pemeriksaan fisik, diagnosis, atau perawatan apa pun di rumah sakit ataupun fasilitas kesehatan oleh tenaga medis atau penyedia layanan kesehatan lainnya;
                    </li>
                    <li>
                      Layanan ini tidak akan digunakan untuk memperoleh dispensasi pengobatan dari tenaga medis dalam bentuk apa pun;
                    </li>
                    <li>
                      Layanan ini tidak digunakan untuk komunikasi diluar masalah kesehatan pasien;
                    </li>
                    <li>
                      MedUp tidak menjamin Tenaga Medis yang berada di platform MedUp Messenger untuk menjawab dan merespon pesan secara cepat;
                    </li>
                    <li>
                      Segala sesuatu tentang ketentuan dalam berkomunikasi diatur sepenuhnya oleh Rumah Sakit dan tidak menjadi tanggung jawab kami; dan
                    </li>
                    <li>
                      Tanggung jawab MedUp hanyalah menyediakan teknologi yang memfasilitasi komunikasi dan interaksi antara Anda dan Penyedia Layanan.
                    </li>
                    <br>
                  </ol>
                </li>
                <li>
                  Layanan lainnya
                  <p>Layanan lainnya merupakan layanan yang ditambahkan MedUp dari waktu ke waktu baik berasal dari pihak MedUp sendiri maupun integrasi sistem MedUp dengan pihak ketiga termasuk rumah sakit terkait. Dengan menggunakan layanan ini, pengguna menyatakan serta berjanji bahwa :</p>
                  <ol type="a">
                    <li>Menggunakan layanan ini sesuai fungsinya masing-masing.</li>
                    <li>Layanan ini tidak digunakan untuk hal-hal diluar masalah kesehatan pasien;</li>
                    <li>Untuk sistem yang terintegrasi dengan sistem milik pihak ketiga, MedUp tidak bertanggung jawab atas pelayanan yang diberikan. Tanggung jawab MedUp hanyalah menyediakan teknologi yang memfasilitasi interaksi antara Anda dan sistem pihak ketiga.</li>
                  </ol>
                  <br>
                </li>
              </ol>
            </div>
            <div id="syarat-penggunaan-untuk-pasien" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                SYARAT PENGGUNAAN UNTUK PASIEN
              </h1>
              <ol>
                <li>Pelayanan Pasien. MedUp memungkinkan pasien untuk :</li>
                <br>
                <ol type="a">
                  <li>Membuat dan mengatur akun, dengan dilakukan secara online melalui aplikasi (Android ataupun IOS) atau sesuai dengan ketentuan Produk MedUp lainnya.</li>
                  <li>Menjadikan informasi mereka tersedia untuk tenaga medis dalam melakukan konsultasi.</li>
                  <li>Melakukan komunikasi melalui messenger dengan tenaga medis di rumah sakit.</li>
                  <li>Mengubah informasi Pasien</li>
                  <li>Menanggapi pemberitahuan</li>
                  <li>Fitur lainnya yang mungkin disediakan oleh MedUp dari waktu ke waktu.</li>
                </ol>
                <br>
                <li>Sebelum menjadi Pengguna Terdaftar, pasien diwajibkan membaca, memahami, dan mematuhi Syarat dan Ketentuan serta Kebijakan Privasi yang berlaku bagi setiap Produk MedUp.</li>
                <br>
                <li>Verifikasi Identitas</li>
                <br>
                <ol type="a">
                  <li>Pasien harus memverifikasi identitas mereka dan harus memberi data informasi pribadi yang sebenarnya dan tidak memberikan informasi menyimpang dan/atau informasi yang tidak relevan dalam melakukan proses registrasi menjadi Pengguna Terdaftar. Selain itu pasien juga diharuskan memberi kontak detail yang benar dan valid.</li>
                  <li>Untuk melindungi Informasi Pribadi dan Informasi Kesehatan Pengguna, Kami berhak untuk tidak memproses registrasi Pengguna yang tidak memenuhi persyaratan ataupun tidak memberikan informasi yang benar dan valid, dan Kami berhak juga mengeluarkan Pengguna Terdaftar dari keanggotaan jika di kemudian hari ditemukan hal-hal yang melanggar ketentuan dari Kami.</li>
                </ol>
                <br>
                <li>Pasien bertanggung jawab untuk mengatur akunnya dengan benar, dan informasi apapun yang dimasukkan ke MedUp termasuk (jika berlaku) rekam medis. Kami tidak bertanggung jawab atas setiap pengguna atas kesalahan yang dibuat oleh seorang Pasien seperti kesalahan pada :</li>
                <br>
                <ol type="a">
                  <li>Membuat dan mengelola sebuah akun, atau</li>
                  <li>Menyediakan dan mengelola informasi</li>
                  <br>
                </ol>
                <li>Setiap Pengguna Terdaftar harus merahasiakan kata sandi untuk mendaftar di aplikasi MedUp.</li>
                <li>Pasien setuju dan menerima bahwa :</li>
                <br>
                <ol type="a">
                  <li>Pasien menggunakan MedUp dengan risiko sendiri</li>
                  <li>Sejauh diizinkan oleh hukum dan perundang-undangan, dalam keadaan apapun MedUp tidak akan bertanggung jawab atas segala penyakit, cedera, atau kematian yang diakibatkan oleh penggunaan MedUp.</li>
                  <li>Pasien dibawah usia 18 tahun tidak dapat menggunakan MedUp tanpa persetujuan orang tua atau wali mereka, atau orang tua atau wali mereka menggunakan MedUp atas nama Pasien sebagai Pengguna yang terdaftar.</li>
                  <li>MedUp dapat berbagi riwayat medis dan informasi pribadi pasien dengan dokter dan penyedia layanan kesehatan apapun dengan disahkan oleh pasien.</li>
                  <li>Setiap informasi yang dibagikan oleh MedUp dengan penyedia layanan kesehatan dan disahkan oleh pasien, dapat disimpan oleh penyedia layanan kesehatan untuk tujuan memperbarui catatan administratif mereka.</li>
                  <li>MedUp dapat mengirim pasien berupa email, pesan teks, pemberitahuan, dan peringatan lainnya.</li>
                  <li>Setiap persetujuan yang dibuat oleh Pasien melalui MedUp berlaku dan mengikat kecuali sampai dicabut oleh pasien, dan fasilitas kesehatan atau dokter dapat bergantung pada persetujuan yang dibuat melalui MedUp tanpa perlu memverifikasi kebenaran lebih lanjut dari persetujuan itu.</li>
                  <li>Semua informasi tentang pasien digunakan dan dikelola oleh Pasien, Dokter dan Fasilitas Kesehatan, bukan MedUp.</li>
                  <li>Semua informasi yang dimasukkan ke MedUp tentang pasien diberikan dengan persetujuan pasien.</li>
                  <li>Setiap orang yang mendaftar atau menggunakan akun pasien di MedUp, menjamin bahwa dia adalah perwakilan sah dari Pasien tersebut, orang tua mereka atau wali sah mereka dengan otoritas yang diperlukan untuk mengikat Pasien pada Perjanjian ini.</li>
                </ol>
              </ol>
            </div>
            <div id="syarat-penggunaan-untuk-tenaga-medis" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                SYARAT PENGGUNAAN UNTUK TENAGA MEDIS
              </h1>
              <ol>
                <li>
                  Layanan. Berdasar pada Perjanjian Pengguna Layanan, MedUp memungkinkan tenaga medis untuk :
                  <ol type="a">
                    <br>
                    <li>Membuat dan mengelola akun.</li>
                    <li>Memasukkan informasi tentang profil tenaga medis untuk digunakan berkomunikasi dengan pasien.</li>
                    <li>Menjawab dan berdiskusi dengan pasien ataupun tenaga medis lain melalui MedUp Messenger.</li>
                    <li>Mengatur ketentuan penggunaan fitur MedUp Messenger</li>
                    <li>Fitur dan alat lain dapat disediakan MedUp dari waktu ke waktu</li>
                  </ol>
                  <br>
                </li>
                <li>
                  Tenaga medis bertanggung jawab untuk mengatur Akunnya dengan benar, dan atas informasi apapun yang dimasukkan ke MedUp. Kami tidak akan bertanggung jawab atas kesalahan yang dibuat oleh penyedia layanan kesehatan pada :
                  <ol type="a">
                    <br>
                    <li>Membuat atau mengelola Akun, atau</li>
                    <li>Menyediakan dan mengelola informasi</li>
                  </ol>
                  <br>
                </li>
                <li>
                  Tenaga Medis setuju dan menjamin bahwa :
                  <ol type="a">
                    <br>
                    <li>Segala data dan/atau informasi yang diberikan kepada MedUp merupakan data dan/atau informasi yang sebenar-benarnya, serta dapat dipertanggungjawabkan di hadapan hukum.</li>
                    <li>Segala data/dan atau informasi yang diberikan kepada MedUp yang kemudian ditampilkan di dalam profil Tenaga Medis di dalam produk MedUp semata-mata merupakan tanggung jawab dari Tenaga Medis.</li>
                    <li>Sepenuhnya bertanggung jawab untuk memastikan bahwa penggunaan MedUp sesuai dengan hukum dan perundang-undangan yang ada di Indonesia.</li>
                    <li>Harus memastikan bahwa kebijakan privasi dan pernyataan tentang bagaimana menangani pasien adalah akurat sehubungan dengan penggunaan layanan dari MedUp.</li>
                    <li>Dalam hal serta keadaan apapun MedUp tidak dapat dituntut ataupun diminta ganti rugi atas kesalahan dalam penyajian data dan/atau informasi yang dihasilkan dari ketidakbenaran data dan/atau informasi yang diberikan kepada MedUp oleh Tenaga Medis.</li>
                    <li>MedUp memiliki kewajiban untuk menjaga kerahasiaan data dan/atau informasi yang diberikan oleh Penyedia Layanan Kesehatan dan hanya akan membuka data dan/atau informasi yang diberikan atas izin dari Rumah Sakit yang memiliki data dan/atau informasi terkait. Poin ini tidak dapat dijalankan MedUp dalam hal pelaksanaan kewajiban MedUp di hadapan hukum untuk membantu para penegak hukum di wilayah kesatuan Republik Indonesia untuk membuka setiap data dan/atau informasi yang diberikan oleh Rumah Sakit kepada MedUp, yang diperlukan dalam hal investigasi resmi dan/atau pelaksanaan penegakan hukum sesuai dengan peraturan perundang-undangan di Indonesia.</li>
                    <li>Tidak boleh mengungkapkan informasi apapun tentang pasien kepada orang atau pihak lain selain kepada anggota staf dan tenaga medis atau sebagaimana diizinkan oleh pasien.</li>
                    <li>Memastikan semua informasi yang dapat diakses melalui penggunaan MedUp disimpan dan digunakan sesuai dengan hukum perundang-undangan.</li>
                    <li>Hanya menggunakan MedUp untuk tujuan yang dimaksudkan sebagaimana diatur dalam Perjanjian ini.</li>
                    <li>Harus mematuhi undang-undang anti spam.</li>
                  </ol>
                  <br>
                </li>
                <li>
                  MedUp dapat mengumpulkan, menyinkronkan, menyimpan dan/atau mengakses informasi dari tenaga medis maupun pasien untuk tujuan menyedikan platform, seperti namun tidak terbatas pada nama, kontak, informasi demografi pasien atau pengguna. Informasi ini akan disimpan sesuai dengan Syarat dan Ketentuan ini dan Kebijakan Privasi MedUp.
                </li>
              </ol>
            </div>
            <div id="hak-kekayaan-intelektual" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                HAK KEKAYAAN INTELEKTUAL
              </h1>
              <ol>
                <li><span class="has-text-weight-bold">Kekayaan Intelektual.</span> Semua Hak Kekayaan Intelektual yang ada di dalam Produk MedUp adalah kepunyaan dari Kami.</li>
                <li><span class="has-text-weight-bold">Merek dagang.</span> Kami memiliki hak moral dan terdaftar dalam merek dagang yang dilindungi undang-undang Republik Indonesia meliputi nama, ikon, dan logo MedUp. Pengguna tidak boleh menyalin, mengubah, menggunakan atau sebaliknya tanpa persetujuan yang tertulis sebelumnya dari MedUp.</li>
                <li><span class="has-text-weight-bold">Aplikasi MedUp.</span> Pengguna setuju dan menerima bahwa MedUp adalah Hak Kekayaan Intelektual Kami dan pengguna menjamin bahwa dengan menggunakan MedUp, pengguna tidak akan :</li>
                <ol type="a">
                  <br>
                  <li>Menyalin, membagikan ulang, mentransmisi ulang, mempublikasi atau melakukan tindakan eksploitasi komersial dari pengunduhan yang dilakukan tanpa persetujuan tertulis pemilik Hak Kekayaan Intelektual tersebut.</li>
                  <li>Menyalin, membagikan ulang, mentransmisi ulang, mempublikasi MedUp atau layanan yang disediakan untuk tujuan komersial pengguna sendiri. Anda dapat menggunakan informasi atau isi dalam Produk MedUp hanya untuk penggunaan pribadi non-komersil. Dalam hal Pengguna telah mendapatkan izin yang diperlukan maka Pengguna dilarang melakukan perubahan atau penghapusan. Pengguna dengan ini menyatakan menerima dan mengetahui bahwa dengan mengunduh materi Hak Kekayaan Intelektual bukan berarti mendapatkan hak kepemilikan atas pengunduhan materi Hak Kekayaan Intelektual tersebut.</li>
                  <li>Menyalin secara langsung ataupun tidak, membuat ulang, mendekompilasi, memodifikasi atau menggunakan kode program atau objek apapun, arsitektur, algoritma yang terdapat dalam MedUp atau dokumentasi apapun yang terkait dengannya.</li>
                </ol>
                <br>
                <li><span class="has-text-weight-bold">Konten.</span> Semua konten (dengan pengecualian konten pengguna) tetap menjadi Kekayaan Intelektual perusahaan, termasuk (tanpa batasan) kode program, tulisan, perangkat lunak, teks, data, grafik, gambar, audio, video, logo, ikon, saran atau informasi lain yang disediakan oleh Pengguna atau pihak lain yang berkenaan dengan MedUp. Sehingga, dilarang dipublikasikan, dimodifikasi, disalin, digandakan atau diubah dengan cara apapun di luar area Produk MedUp tanpa persetujuan tertulis dari Kami.</li>
                <li>Pelanggaran terhadap hak-hak dalam Produk MedUp dapat ditindak sesuai dengan peraturan yang berlaku.</li>
              </ol>
            </div>
            <div id="tautan-situs-lainnya" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                TAUTAN SITUS LAINNYA
              </h1>
              <p>Situs Kami mungkin menyediakan beberapa tautan tertentu yang merujuk atau mengarahkan Anda ke suatu laman dari situs pihak ketiga, juga termasuk di dalamnya tautan yang tersedia pada halaman hasil pencarian produk tertentu. Anda mengetahui, memahami, serta menyetujui bahwa Kami tidak bertanggung jawab atas konten dan/atau materi lainnya yang terdapat dalam tautan milik pihak ketiga tersebut. Anda bertanggung jawab atas resiko ketika mengakses dan menggunakan tautan milik pihak ketiga tersebut. Dan disarankan Anda juga dapat membaca serta memahami isi dari Syarat dan Ketentuan yang berlaku di tautan milik pihak ketiga tersebut.</p>
            </div>
            <div id="keamanan-platform" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                KEAMANAN PLATFORM
              </h1>
              <p>Kami senantiasa melakukan upaya yang wajar untuk menjaga Platform ini berfungsi dan berjalan lancar. Bagaimana pun juga, kami tidak bertanggung jawab dan tidak akan bertanggung jawab atas ketidaktersediaan Platform dan/atau fitur Layanan yang disebabkan oleh berbagai alasan, termasuk namun tidak terbatas pada keperluan pemeliharaan atau masalah teknis.  Namun demikian, Anda mengetahui dan setuju bahwa transmisi atau akses internet tidak selamanya menciptakan suatu transaksi pembayaran yang aman dan pribadi, dan karenanya setiap pesan atau informasi yang Anda kirimkan atau gunakan dalam Platform mungkin dapat dibajak atau diambil oleh pihak ketiga yang tidak bertanggung jawab. Kami sangat concern dengan kemanan dan privasi setiap pengguna yang melakukan pendaftaran di platform kami. Platform layanan pesan kami buat dengan enkripsi end-to-end, yang berarti melindungi data yang hanya bisa dibaca dari dua ujung saja (pengirim dan penerima).</p>
            </div>
            <div id="saran-dan-komentar" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                SARAN DAN KOMENTAR
              </h1>
              <p>Apabila Anda ingin memberikan saran, komentar, ataupun masukan mengenai tiap atau keseluruhan konten dan informasi yang ada dalam MedUp ataupun layanan yang diberikan oleh Penyedia Layanan Kesehatan yang terdaftar di MedUp, Kami menyediakan sarana kontak email, nomor, ataupun media sosial milik kami. Anda diperbolehkan untuk memberikan saran dan komentar, dan setuju bahwa jika diperlukan, akan Kami pergunakan untuk kepentingan informasi dan ditampilkan di Situs Kami. Dan harap diperhatikan bahwa saran, masukan, komentar ataupun sanggahan yang Anda diberikan tidak boleh bertentangan dengan Syarat dan Ketentuan ini.</p>
            </div>
            <div id="penutup" class="has-text-justified">
              <br>
              <h1 class="subtitle has-text-weight-bold">
                PENUTUP
              </h1>
              <ol id="last-content">
                <li>Penggunaan dan akses ke MedUp diatur oleh Syarat dan Ketentuan serta Kebijakan Privasi Kami. Dengan mengakses atau menggunakan MedUp, berarti Anda telah memahami dan menyetujui serta terikat dan tunduk dengan segala syarat dan ketentuan yang berlaku di Situs ini.</li>
                <li>Hubungan antara MedUp dan Pengguna merupakan suatu hubungan independen dan tidak memiliki hubungan keagenan, kemitraan, usaha patungan, karyawan-perusahaan atau pemilik waralaba-pewaralaba yang akan dibuat atau dibuat dengan adanya Perjanjian ini.</li>
                <li>Judul di dalam Perjanjian ini dibuat hanya sebagai acuan, dan sama sekali tidak menetapkan, membatasi, menjelaskan atau menjabarkan apa yang termaktub dalam pasal atau ketentuan tersebut.</li>
                <li>Kami berhak untuk menutup atau mengubah atau memperbaharui Syarat dan Ketentuan ini setiap saat tanpa pemberitahuan, dan berhak untuk membuat keputusan akhir jika tidak ada ketidakcocokan. Kami tidak bertanggung jawab atas kerugian dalam bentuk apa pun yang timbul akibat perubahan pada Syarat dan Ketentuan.</li>
                <li>MedUp memiliki hak untuk menginvestigasi dan menuntut hak untuk setiap pelanggaran atas Perjanjian ini sepanjang yang dimungkinkan dan diperkenankan oleh hukum.</li>
                <li>Pengguna dengan ini mengakui bahwa MedUp memiliki hak untuk memonitor akses penggunaan MedUp untuk memastikan kepatuhan Para Pihak atas Perjanjian ini, atau untuk mematuhi peraturan yang berlaku atau perintah atau persyaratan dari pengadilan, lembaga administratif atau badan pemerintahan lainnya di Republik Indonesia.</li>
                <li>Apabila terdapat 1 (satu) atau lebih ketentuan di dalam Perjanjian ini yang dinyatakan tidak berlaku, melawan hukum atau tidak dapat dilaksanakan berdasarkan ketentuan perundang-undangan yang berlaku di Republik Indonesia maka keadaan tersebut tidak akan mempengaruhi keberlakuan ketentuan-ketentuan lain dalam Perjanjian ini. Dalam hal terjadi keadaan tersebut, Para Pihak berjanji untuk tetap berusaha memenuhi segala ketentuan yang terdapat di dalam Perjanjian ini.</li>
                <li>Segala sengketa yang berkaitan dengan Perjanjian ini, akan pertama-tama diselesaikan secara musyawarah untuk mufakat oleh Para Pihak. Dalam hal penyelesaian secara musyawarah untuk mufakat tidak dapat dilakukan, Para Pihak memutuskan untuk menyelesaikan konflik yang terjadi melalui Badan Arbitrase Nasional Indonesia (BANI) sesuai dengan prosedur yang berlaku di BANI.</li>
                <li>Perjanjian ini diatur, ditafsirkan, serta dilaksanakan berdasarkan hukum yang berlaku di Republik Indonesia dan Para Pihak diwajibkan untuk tunduk kepada semua peraturan yang berlaku di Indonesia.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      scrolled: true
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      this.scrolled = window.scrollY < document.getElementById('last-content').offsetTop
      // eslint-disable-next-line
        console.log(this.scrolled)
    }
  }
}
</script>

<style lang="scss" scoped>
  aside {
    position: fixed;
  }
  ol {
    margin-left: 30px;
  }
  .nuxt-link-active {
    background-color: #2691d4;
    color: white;
  }
</style>
