<template>
  <div>
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <img v-if="facilityPictureCopy" :src="facilityPictureCopy" @error="handleImageError" class="image-horizontall-card">
            <img v-else class="image-horizontall-card" src="../../assets/img/health-facility/health-facility-default.png">
          </figure>
          <div class="media-content">
            <div class="content">
              <span class="is-size-7-mobile">{{ type }}</span>
              <p>
                <nuxt-link :to="`search-health-facility/${healthFacilityKode}`" class="has-text-black">
                  <strong v-if="name" class="is-size-5 is-size-6-mobile"> {{ name }} </strong>
                </nuxt-link>
              </p>
              <div class="health-facility-address is-hidden-mobile">
                <b-icon
                  icon="map-marker"
                />
                <p v-if="address">
                  {{ address }}
                </p>
              </div>
              <br>
              <div class="buttons is-pulled-right">
                <nuxt-link :to="`search-health-facility/${healthFacilityKode}`" class="button is-outlined is-warning is-button-small-mobile">
                  Lihat Detail
                </nuxt-link>
                <nuxt-link :to="`search-health-facility/${healthFacilityKode}?tab=1`" class="button is-warning is-button-small-mobile">
                  Buat Janji
                </nuxt-link>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    healthFacilityId: {
      type: String,
      default: ''
    },
    healthFacilityKode: {
      type: String,
      default: ''
    },
    address: {
      type: String,
      default: ''
    },
    facilityPicture: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      facilityPictureCopy: this.facilityPicture
    }
  },
  methods: {
    handleImageError () {
      const defaultImage = require('../../assets/img/health-facility/health-facility-default.png')
      this.facilityPictureCopy = defaultImage
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

.card {
  margin-bottom: 1em;
}

.image-horizontall-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 80px;
    height: 80px;
  }
}

.health-facility-address {
  display: flex;
  align-items: flex-start;
  .icon {
    margin-right: 1rem;
    // margin-top: 5px;
  }
}
</style>
