<template>
  <div>
    <hr>
    <article class="media">
      <figure class="media-left">
        <img v-if="profilePictureCopy" :src="profilePictureCopy" @error="handleImageError" class="image-horizontall-card">
        <img v-else class="image-horizontall-card" src="../../assets/img/doctor/doctor-default.png">
      </figure>
      <div class="media-content">
        <div class="content">
          <span v-if="specialization" class="is-size-7-mobile">
            {{ specialization }}
          </span>
          <p>
            <nuxt-link :to="`/search-doctor/${doctorId}`" class="has-text-black">
              <strong v-if="frontDegree" class="is-size-5 is-size-6-mobile">{{ frontDegree }}</strong>  <strong v-if="name" class="is-size-5 is-size-6-mobile">{{ name }}</strong> <strong v-if="backDegree" class="is-size-5 is-size-6-mobile">{{ backDegree }}</strong>
            </nuxt-link>
          </p>
          <p>
            <span class="is-size-7-mobile">Hari ini,</span>
            <span
              v-for="jam in todaySchedule"
              :key="jam"
              class="is-size-7-mobile"
            >
              <span v-if="jam === '00:00 - 00:00'" class="has-text-danger">
                tidak ada jadwal
              </span>
              <span v-else class="ha-text-success">
                {{ jam }}
              </span>
            </span>
          </p>
          <div class="buttons is-pulled-right">
            <nuxt-link :to="`/search-doctor/${doctorId}`" class="button is-outlined is-warning is-pulled-right is-button-small-mobile">
              Lihat Profil
            </nuxt-link>
            <button @click="makeCallHealthFacility" class="button is-warning is-button-small-mobile">
              Panggil
            </button>
          </div>
        </div>
      </div>
    </article>
    <!-- <span
      v-for="jam in todaySchedule"
      :key="jam"
    >
      <span v-if="jam === '00:00 - 00:00'">
        <span class="has-text-danger is-size-7-mobile">Hari ini tidak praktik</span>
      </span>
      <span v-else>
        <span class="has-text-success is-size-7-mobile">Hari ini praktik</span>
      </span>
    </span> -->
    <b-collapse :open="false">
      <div
        slot="trigger"
        slot-scope="props"
        role="button"
        style="box-shadow: none"
      >
        <p class="has-text-primary is-size-7-mobile">
          Lihat semua jadwal
          <a class="collapse-icon">
            <b-icon
              :icon="props.open ? 'menu-down' : 'menu-up'"
            />
          </a>
        </p>
      </div>
      <ul>
        <li v-for="(schedule, index) in transformSchedules" :key="schedule.hari">
          <div class="schedule-container">
            <div class="schedule-column">
              <span class="is-size-7-mobile">
                {{ schedule.hari }}
                <template v-if="index === getCurrentDay">
                  <span class="has-text-primary">
                    &#8226;
                  </span>
                </template>
              </span>
            </div>
            <div class="schedule-column">
              <span v-for="jam in schedule.jam" :key="jam" class="is-size-7-mobile">
                <span v-if="jam === '00:00 - 00:00'">
                  Tidak ada jadwal
                </span>
                <span v-else class="is-size-7-mobile">
                  {{ jam }}
                </span>
                <br>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </b-collapse>
  </div>
</template>
<script>
export default {
  name: 'DoctorAtClinic',
  props: {
    name: {
      type: String,
      default: ''
    },
    doctorId: {
      type: String,
      default: ''
    },
    frontDegree: {
      type: String,
      default: ''
    },
    backDegree: {
      type: String,
      default: ''
    },
    specialization: {
      type: String,
      default: ''
    },
    profilePicture: {
      type: String,
      default: null
    },
    schedules: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      doctor: {},
      profilePictureCopy: this.profilePicture
    }
  },
  computed: {
    transformSchedules () {
      const finalJadwal = []
      const mulaiSelesaiObject = {}
      const hariObject = {}

      for (let i = 0; i < this.schedules.length; i++) {
        const schedule = this.schedules[i]
        const mulaiSelesaiItem = []
        for (let j = 0; j < schedule.mulai.length; j++) {
          const mulaiSelesaiSubItem = schedule.mulai[j] + ' - ' + schedule.selesai[j]
          mulaiSelesaiItem.push(mulaiSelesaiSubItem)
        }
        mulaiSelesaiObject.jam = mulaiSelesaiItem
        hariObject.hari = this.schedules[i].hari
        const mergeHariMulaiSelesai = { ...mulaiSelesaiObject, ...hariObject }
        finalJadwal.push(mergeHariMulaiSelesai)
      }

      return finalJadwal
    },
    todaySchedule () {
      const day = new Date()
      return this.transformSchedules[day.getDay()].jam
    },
    getCurrentDay () {
      const currentDate = new Date()
      return currentDate.getDay()
    }
  },
  methods: {
    handleImageError () {
      const defaultImage = require('../../assets/img/doctor/doctor-default.png')
      this.profilePictureCopy = defaultImage
    },
    makeCallHealthFacility () {
      this.$emit('make-call')
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

.image-horizontall-card {
  width: 178px;
  height: 178px;
  object-fit: cover;
  @include mobile {
    width: 80px;
    height: 80px;
  }
}

.health-facility-address {
  display: flex;
  align-items: flex-start;
  .icon {
    margin-right: 1rem;
    // margin-top: 5px;
  }
}

.schedule-container {
  display: flex;
  width: 300px;
  margin-bottom: 1em;
  @include mobile {
    width: 100%;
  }
  .schedule-column {
    flex-grow: 1;
    width: 150px;
    @include mobile {
      width: 50%;
    }
  }
}

.collapse-icon {
  top: 4px;
  position: relative;
}

article {
  &.media {
    figure {
      &.media-left {
        margin-left: 0;
        @include mobile {
          margin-right: 1rem;
        }
      }
    }
    .media-content {
      overflow-y: hidden;
    }
  }
}
</style>
